openapi: 3.1.0
info:
  title: VAT-MSA Fiscal Transaction API
  version: 0.3.0
  summary: Controlled identity, business operations, VAT invoice certification and verification contract.
  description: |
    Architecture-baseline contract only. Legal invoice particulars, authentication profiles,
    error codes, signature formats, retention and service levels require NamRA approval.
servers:
  - url: https://sandbox.api.vat-msa.na
    description: Conformance sandbox
  - url: https://api.vat-msa.na
    description: Production (proposed)
security:
  - oauth2: [invoices.write]
tags:
  - name: Identity
  - name: Organisations
  - name: Registrations
  - name: Quotations
  - name: Accounting
  - name: Expenses
  - name: Inventory
  - name: Projects
  - name: Invoices
  - name: Certificates
  - name: Offline
  - name: Verification
paths:
  /v1/organisations:
    get:
      tags: [Organisations]
      operationId: listOrganisations
      summary: List canonical organisations visible to the authenticated identity.
      security:
        - oauth2: [identity.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Tenant-scoped organisation summaries.
          content:
            application/json:
              schema:
                type: object
                required: [organisations]
                properties:
                  organisations:
                    type: array
                    items: { $ref: '#/components/schemas/OrganisationSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/organisations/{organisation_id}:
    get:
      tags: [Organisations]
      operationId: getOrganisation
      summary: Get an authorised organisation with identifiers, capabilities, branches and memberships.
      security:
        - oauth2: [identity.read]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Canonical organisation detail. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/registration-applications:
    get:
      tags: [Registrations]
      operationId: listRegistrationApplications
      summary: List registration applications within the caller's authorised scope.
      security:
        - oauth2: [registrations.read]
      responses:
        '200':
          description: Registration applications and authoritative verification posture.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Registrations]
      operationId: submitRegistrationApplication
      summary: Submit an idempotent legal taxpayer registration for authoritative verification.
      description: Acceptance does not create a taxpayer or organisation. ITAS/NamRA verification and controlled approval must complete first.
      security:
        - oauth2: [registrations.submit]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistrationSubmission' }
      responses:
        '202':
          description: Accepted and held pending authoritative verification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationAccepted' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations:
    get:
      tags: [Quotations]
      operationId: listQuotations
      summary: List quotations in the authorised organisation.
      security: [{ oauth2: [commercial.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Tenant-scoped quotation register. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Quotations]
      operationId: createQuotation
      summary: Issue a quotation whose monetary and tax totals are calculated server-side.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationSubmission' } } }
      responses:
        '201': { description: Quotation issued. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}/accept:
    post:
      tags: [Quotations]
      operationId: acceptQuotation
      summary: Accept an unexpired issued quotation using an idempotent state transition.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200': { description: Quotation accepted. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/accounting/journals:
    get:
      tags: [Accounting]
      operationId: listJournals
      summary: List journals in the authorised organisation.
      security: [{ oauth2: [accounting.read] }]
      responses: { '200': { description: Tenant-scoped journal register. } }
    post:
      tags: [Accounting]
      operationId: postJournal
      summary: Post a balanced double-entry journal.
      security: [{ oauth2: [accounting.post] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/JournalSubmission' } } }
      responses:
        '201': { description: Balanced journal posted. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses:
    get:
      tags: [Expenses]
      operationId: listExpenses
      summary: List expenses in the authorised organisation.
      security: [{ oauth2: [expenses.read] }]
      responses: { '200': { description: Tenant-scoped expense register. } }
    post:
      tags: [Expenses]
      operationId: createExpense
      summary: Record a draft expense with exact integer totals.
      security: [{ oauth2: [expenses.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseSubmission' } } }
      responses:
        '201': { description: Draft expense recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/inventory/movements:
    get:
      tags: [Inventory]
      operationId: listInventoryBalances
      summary: List inventory balances in the authorised organisation.
      security: [{ oauth2: [inventory.read] }]
      responses: { '200': { description: Tenant-scoped inventory balances. } }
    post:
      tags: [Inventory]
      operationId: recordStockMovement
      summary: Record a signed stock movement without permitting negative on-hand stock.
      security: [{ oauth2: [inventory.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/StockMovementSubmission' } } }
      responses:
        '201': { description: Stock movement recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List projects and budget-to-cost projections in the authorised organisation.
      security: [{ oauth2: [projects.read] }]
      responses: { '200': { description: Tenant-scoped project register. } }
    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a planned project and optional proposed budget.
      security: [{ oauth2: [projects.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ProjectSubmission' } } }
      responses:
        '201': { description: Project created. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/invoices:
    post:
      tags: [Invoices]
      operationId: submitInvoice
      summary: Submit a canonical fiscal document for validation and certification.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/vat-msa-invoice.schema.json'
      responses:
        '201':
          description: Certified and posted.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationReceipt'
        '202':
          description: Accepted for asynchronous processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionAccepted'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/invoices/{invoice_id}:
    get:
      tags: [Invoices]
      operationId: getInvoiceStatus
      summary: Get status, calculation evidence and exception references for a submitted invoice.
      security:
        - oauth2: [invoices.read]
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Invoice processing status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceStatus'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/certificates/{certificate_id}:
    get:
      tags: [Certificates]
      operationId: getCertificate
      summary: Retrieve the signed certification receipt for an authorised party.
      security:
        - oauth2: [certificates.read]
      parameters:
        - name: certificate_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Signed receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationReceipt'
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/offline/batches:
    post:
      tags: [Offline]
      operationId: submitOfflineBatch
      summary: Synchronise a signed, ordered batch from an enrolled offline device.
      security:
        - oauth2: [offline.sync]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineBatch'
      responses:
        '202':
          description: Batch accepted; individual document outcomes are processed independently.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionAccepted'
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/verify/{verification_token}:
    get:
      tags: [Verification]
      operationId: verifyCertificate
      summary: Verify a certificate using the opaque QR token without exposing full invoice data.
      security: []
      parameters:
        - name: verification_token
          in: path
          required: true
          schema: { type: string, minLength: 32, maxLength: 256 }
      responses:
        '200':
          description: Privacy-minimised verification outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicVerification'
        '404': { $ref: '#/components/responses/NotFound' }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://identity.vat-msa.na/oauth2/token
          scopes:
            identity.read: Read canonical identity and organisation data within authorised scope.
            registrations.read: Read authorised registration applications.
            registrations.submit: Submit a registration application for verification.
            commercial.read: Read commercial records.
            quotations.manage: Create and transition quotations.
            accounting.read: Read the chart and journal register.
            accounting.post: Post balanced journals.
            expenses.read: Read expenses.
            expenses.manage: Record and transition expenses.
            inventory.read: Read inventory balances.
            inventory.manage: Record stock movements.
            projects.read: Read projects.
            projects.manage: Manage projects and budgets.
            invoices.write: Submit fiscal documents.
            invoices.read: Read documents belonging to the authorised taxpayer.
            certificates.read: Retrieve certification receipts.
            offline.sync: Synchronise enrolled offline devices.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Stable key unique to the client and business operation. Reuse with a different body is rejected.
      schema: { type: string, minLength: 16, maxLength: 128 }
    CorrelationId:
      name: X-Correlation-ID
      in: header
      required: false
      schema: { type: string, format: uuid }
    InvoiceId:
      name: invoice_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    OrganisationId:
      name: organisation_id
      in: path
      required: true
      schema: { type: string, minLength: 1, maxLength: 100 }
    OrganisationScope:
      name: organisation_id
      in: query
      required: false
      description: National-pilot operators may select an organisation; taxpayer identities are always forced to their own organisation.
      schema: { type: string, minLength: 1, maxLength: 100 }
  headers:
    CorrelationId:
      description: End-to-end trace identifier.
      schema: { type: string, format: uuid }
  schemas:
    OrganisationSummary:
      type: object
      additionalProperties: false
      required: [id, taxpayer_id, legal_name, vat_number, tin, status, branch_count, member_count, capabilities]
      properties:
        id: { type: string, maxLength: 100 }
        taxpayer_id: { type: string, maxLength: 100 }
        legal_name: { type: string, maxLength: 200 }
        trading_name: { type: [string, 'null'], maxLength: 200 }
        vat_number: { type: string, maxLength: 40 }
        tin: { type: string, maxLength: 40 }
        status: { type: string, enum: [ACTIVE, SUSPENDED, CLOSED] }
        branch_count: { type: integer, minimum: 0 }
        member_count: { type: integer, minimum: 0 }
        capabilities:
          type: string
          description: Comma-separated pilot projection; future contract versions return a typed array.
    RegistrationSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, vat_number, tin, legal_name, taxpayer_type, return_frequency, address, email]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        vat_number: { type: string, minLength: 3, maxLength: 40 }
        tin: { type: string, minLength: 3, maxLength: 40 }
        company_registration_number: { type: string, minLength: 3, maxLength: 40 }
        legal_name: { type: string, minLength: 2, maxLength: 200 }
        trading_name: { type: string, minLength: 2, maxLength: 200 }
        taxpayer_type: { type: string, enum: [PRIVATE_COMPANY, CLOSE_CORPORATION, SOLE_PROPRIETOR, PARTNERSHIP, TRUST, NON_PROFIT, PUBLIC_ENTITY, OTHER] }
        return_frequency: { type: string, enum: [MONTHLY, BIMONTHLY, QUARTERLY, ANNUAL] }
        address: { type: string, minLength: 5, maxLength: 500 }
        email: { type: string, format: email, maxLength: 254 }
    RegistrationAccepted:
      type: object
      additionalProperties: false
      required: [registration_id, status, verification_source, verification_status, submitted_at, next_action]
      properties:
        registration_id: { type: string, format: uuid }
        status: { type: string, const: PENDING_VERIFICATION }
        verification_source: { type: string, const: ITAS }
        verification_status: { type: string, const: AWAITING_PROVIDER_CONTRACT }
        submitted_at: { type: string, format: date-time }
        next_action: { type: string }
    QuotationSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, customer_party_id, quotation_number, currency, issue_date, valid_until, lines]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        customer_party_id: { type: string, minLength: 2, maxLength: 100 }
        branch_id: { type: string, minLength: 2, maxLength: 100 }
        quotation_number: { type: string, minLength: 2, maxLength: 40 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        issue_date: { type: string, format: date }
        valid_until: { type: string, format: date }
        notes: { type: string, maxLength: 2000 }
        lines:
          type: array
          minItems: 1
          maxItems: 200
          items:
            type: object
            additionalProperties: false
            required: [description, quantity_micros, unit_code, unit_price_cents, tax_category, tax_rate_bps]
            properties:
              product_id: { type: string, minLength: 2, maxLength: 100 }
              description: { type: string, minLength: 2, maxLength: 500 }
              quantity_micros: { type: integer, minimum: 1 }
              unit_code: { type: string, minLength: 1, maxLength: 12 }
              unit_price_cents: { type: integer, minimum: 0 }
              tax_category: { type: string, enum: [STANDARD, ZERO_RATED, EXEMPT, OUT_OF_SCOPE] }
              tax_rate_bps: { type: integer, minimum: 0, maximum: 10000 }
    JournalSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, journal_number, journal_date, description, currency, source_type, lines]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        journal_number: { type: string, minLength: 2, maxLength: 40 }
        journal_date: { type: string, format: date }
        reference: { type: string, maxLength: 100 }
        description: { type: string, minLength: 2, maxLength: 500 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        source_type: { type: string, enum: [MANUAL, EXPENSE, INVOICE, IMPORT, ADJUSTMENT] }
        source_id: { type: string, minLength: 2, maxLength: 100 }
        lines:
          type: array
          minItems: 2
          maxItems: 500
          items:
            type: object
            additionalProperties: false
            required: [account_id, description, debit_cents, credit_cents]
            properties:
              account_id: { type: string, minLength: 2, maxLength: 100 }
              branch_id: { type: string, minLength: 2, maxLength: 100 }
              project_id: { type: string, minLength: 2, maxLength: 100 }
              description: { type: string, minLength: 2, maxLength: 500 }
              debit_cents: { type: integer, minimum: 0 }
              credit_cents: { type: integer, minimum: 0 }
              tax_code: { type: string, maxLength: 40 }
    ExpenseSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, category_id, expense_number, expense_date, description, currency, net_cents, tax_cents, total_cents]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        category_id: { type: string, minLength: 2, maxLength: 100 }
        supplier_party_id: { type: string, minLength: 2, maxLength: 100 }
        project_id: { type: string, minLength: 2, maxLength: 100 }
        branch_id: { type: string, minLength: 2, maxLength: 100 }
        expense_number: { type: string, minLength: 2, maxLength: 40 }
        expense_date: { type: string, format: date }
        description: { type: string, minLength: 2, maxLength: 500 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        net_cents: { type: integer, minimum: 0 }
        tax_cents: { type: integer, minimum: 0 }
        total_cents: { type: integer, minimum: 0 }
    StockMovementSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, warehouse_id, product_id, movement_type, quantity_micros, unit_cost_cents, reference_type, reference_id, reason]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        warehouse_id: { type: string, minLength: 2, maxLength: 100 }
        product_id: { type: string, minLength: 2, maxLength: 100 }
        movement_type: { type: string, enum: [RECEIPT, ISSUE, TRANSFER_IN, TRANSFER_OUT, ADJUSTMENT_IN, ADJUSTMENT_OUT] }
        quantity_micros: { type: integer, minimum: 1 }
        unit_cost_cents: { type: integer, minimum: 0 }
        reference_type: { type: string, minLength: 2, maxLength: 40 }
        reference_id: { type: string, minLength: 2, maxLength: 100 }
        reason: { type: string, minLength: 2, maxLength: 500 }
        occurred_at: { type: string, format: date-time }
    ProjectSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, code, name, currency, start_date]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        code: { type: string, minLength: 2, maxLength: 40 }
        name: { type: string, minLength: 2, maxLength: 200 }
        customer_party_id: { type: string, minLength: 2, maxLength: 100 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        budget_cents: { type: integer, minimum: 0 }
    SubmissionAccepted:
      type: object
      additionalProperties: false
      required: [submission_id, status, received_at]
      properties:
        submission_id: { type: string, format: uuid }
        status: { type: string, enum: [RECEIVED, PROCESSING] }
        received_at: { type: string, format: date-time }
        status_url: { type: string, format: uri }
    CertificationReceipt:
      type: object
      additionalProperties: false
      required: [invoice_id, transaction_id, certificate_id, status, certified_at, invoice_hash, signature, verification_url]
      properties:
        invoice_id: { type: string, format: uuid }
        transaction_id: { type: string, format: uuid }
        certificate_id: { type: string, format: uuid }
        status: { type: string, const: CERTIFIED }
        certified_at: { type: string, format: date-time }
        rule_set_version: { type: string }
        invoice_hash: { type: string, pattern: '^[A-Fa-f0-9]{64}$' }
        signature: { type: string, description: JWS or equivalent approved signature container. }
        verification_url: { type: string, format: uri }
        qr_payload: { type: string }
    InvoiceStatus:
      type: object
      additionalProperties: false
      required: [invoice_id, status, updated_at]
      properties:
        invoice_id: { type: string, format: uuid }
        status:
          type: string
          enum: [RECEIVED, VALIDATING, REJECTED, ACCEPTED, CERTIFIED, POSTED, MATCHED, EXCEPTION, REVERSED]
        updated_at: { type: string, format: date-time }
        certificate_id: { type: string, format: uuid }
        transaction_id: { type: string, format: uuid }
        exception_ids:
          type: array
          items: { type: string, format: uuid }
        validation_messages:
          type: array
          items: { $ref: '#/components/schemas/ValidationMessage' }
    ValidationMessage:
      type: object
      additionalProperties: false
      required: [code, severity, message]
      properties:
        code: { type: string, maxLength: 80 }
        severity: { type: string, enum: [ERROR, WARNING, INFORMATION] }
        path: { type: string, description: JSON Pointer to the affected value. }
        message: { type: string, maxLength: 1000 }
        rule_reference: { type: string, maxLength: 100 }
    OfflineBatch:
      type: object
      additionalProperties: false
      required: [device_id, batch_id, sequence_from, sequence_to, created_at, documents, device_signature]
      properties:
        device_id: { type: string, maxLength: 100 }
        batch_id: { type: string, format: uuid }
        sequence_from: { type: integer, minimum: 1 }
        sequence_to: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        previous_batch_hash: { type: string, pattern: '^[A-Fa-f0-9]{64}$' }
        documents:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: './schemas/vat-msa-invoice.schema.json'
        device_signature: { type: string }
    PublicVerification:
      type: object
      additionalProperties: false
      required: [valid, certificate_status, certified_at, supplier_display, invoice_number_masked, total_amount, currency]
      properties:
        valid: { type: boolean }
        certificate_status: { type: string, enum: [VALID, REVERSED, REVOKED, UNKNOWN] }
        certified_at: { type: string, format: date-time }
        supplier_display: { type: string, maxLength: 250 }
        invoice_number_masked: { type: string, maxLength: 100 }
        total_amount: { type: string }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
    Problem:
      type: object
      description: RFC 9457-compatible problem detail.
      additionalProperties: true
      required: [type, title, status]
      properties:
        type: { type: string, format: uri-reference }
        title: { type: string }
        status: { type: integer, minimum: 400, maximum: 599 }
        detail: { type: string }
        instance: { type: string, format: uri-reference }
        correlation_id: { type: string, format: uuid }
        errors:
          type: array
          items: { $ref: '#/components/schemas/ValidationMessage' }
  responses:
    BadRequest:
      description: Malformed request.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Unauthorized:
      description: Authentication failed.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Authenticated identity lacks the required permission or taxpayer scope.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Resource not found or not visible to the caller.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Conflict:
      description: Duplicate, sequence conflict or idempotency-key body mismatch.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    ValidationFailed:
      description: Canonical or business-rule validation failed.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    RateLimited:
      description: Client or taxpayer rate limit exceeded.
      headers:
        Retry-After: { schema: { type: integer, minimum: 1 } }
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Unavailable:
      description: Temporary dependency or platform failure; retry only with the same idempotency key.
      headers:
        Retry-After: { schema: { type: integer, minimum: 1 } }
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
