openapi: 3.1.0
info:
  title: VAT-MSA Fiscal Transaction API
  version: 0.9.0
  summary: Controlled self-serve onboarding plus centrally licensed identity, business, VAT, evidence, search and platform-edge contracts.
  description: |
    Architecture-baseline contract only. Legal invoice particulars, authentication profiles,
    error codes, signature formats, retention and service levels require NamRA approval.
    Every protected operation is classified by authority domain. Government-tax features use
    the independent Government Tax Authorization Service; commercial features use the License
    & Entitlement Service; platform-control permissions do not imply either domain membership.
    Suspended, expired and cancelled commercial licences preserve records and approved continuity.
x-vat-msa-license-enforcement:
  policy_authority: license_permission_policies
  authority_domains: [GOVERNMENT_TAX, COMMERCIAL_SAAS, PLATFORM_CONTROL]
  evaluation_order: [identity, tenant_or_jurisdiction, permission, feature_authority_domain, domain_specific_authorization, usage_limit, security_policy, workflow, segregation_of_duties]
  restricted_states: [SUSPENDED, EXPIRED, CANCELLED]
  continuity_operations: [READ, EXPORT, COMPLIANCE_WRITE, CORRECTION_WRITE]
  denied_operations_after_restriction: [BUSINESS_WRITE, ADMIN_WRITE]
  public_exemptions: [/health/live, /health/ready, /v1/signup-applications, '/v1/verify/{token}']
  failure_mode: deny
servers:
  - url: https://sandbox.api.vat-msa.na
    description: Conformance sandbox
  - url: https://api.vat-msa.na
    description: Production (proposed)
security:
  - oauth2: [invoices.write]
tags:
  - name: Signup
  - name: Identity
  - name: Organisations
  - name: Registrations
  - name: Quotations
  - name: Accounting
  - name: Expenses
  - name: Inventory
  - name: Projects
  - name: VAT periods
  - name: VAT returns
  - name: Approvals
  - name: Compliance
  - name: Audit cases
  - name: Disputes
  - name: Refunds
  - name: Invoices
  - name: Certificates
  - name: Platform
  - name: Documents
  - name: Reports
  - name: Offline
  - name: Verification
paths:
  /v1/signup-applications:
    post:
      tags: [Signup]
      operationId: submitSelfServeSignup
      summary: Submit a controlled company-commercial application as the attested Company System Administrator.
      x-authority-domain: COMMERCIAL_SAAS
      description: |
        This public, rate-limited intake records explicit Company System Administrator attestation,
        organisation identity, consent and a configurable commercial placeholder-plan request. Acceptance creates only
        an immutable pending-verification application. It never creates a user, taxpayer,
        organisation, subscription or licence and never triggers payment, email, SMS or live
        ITAS/NamRA activity. A trusted Sites/ChatGPT identity assertion may be recorded when
        present, but it does not provision access.
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SelfServeSignupSubmission' }
      responses:
        '202':
          description: Application accepted and held pending administrator and organisation verification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SelfServeSignupAccepted' }
        '403':
          description: COMPANY_ADMIN_AUTHORITY_REQUIRED; ordinary employees must use invitation or sign-in.
        '409': { $ref: '#/components/responses/Conflict' }
        '413':
          description: Request exceeds the 32 KiB signup limit.
        '415':
          description: Content-Type is not application/json.
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429':
          description: Public signup rate budget exceeded.
  /v1/licensing/license:
    get:
      tags: [Organisations]
      operationId: getEffectiveOrganisationLicense
      summary: Read the authoritative licence, enabled features, limits and current usage for the resolved organisation.
      security:
        - oauth2: [licensing.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: organisation_id
          in: query
          schema: { type: string, minLength: 1, maxLength: 80 }
      responses:
        '200':
          description: Current non-priced placeholder plan, licence state and entitlements.
          content:
            application/json:
              schema:
                type: object
                required: [organisation, license, entitlements]
                properties:
                  organisation: { type: object, additionalProperties: true }
                  license:
                    type: object
                    required: [state, retention_policy]
                    properties:
                      state: { $ref: '#/components/schemas/LicenseState' }
                      retention_policy: { type: string }
                      price: { type: 'null' }
                    additionalProperties: true
                  entitlements: { type: array, items: { type: object, additionalProperties: true } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/navigation/workspace:
    get:
      tags: [Organisations]
      operationId: getEffectiveLicensedWorkspace
      summary: Return only navigation destinations permitted by role, feature entitlement and current licence continuity state.
      security:
        - oauth2: [workspace.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Effective server-generated workspace projection including safe licence-state context.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/search:
    get:
      tags: [Organisations]
      operationId: searchLicensedWorkspace
      summary: Search only licensed, tenant-scoped, permission-visible records; historical search remains available in continuity mode.
      security:
        - oauth2: [search.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, maxLength: 80 }
      responses:
        '200':
          description: Bounded authorised search results.
          content:
            application/json:
              schema: { type: object, required: [query, results], properties: { query: { type: string }, results: { type: array, items: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/organisations:
    get:
      tags: [Organisations]
      operationId: listOrganisations
      summary: List canonical organisations visible to the authenticated identity.
      security:
        - oauth2: [identity.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Tenant-scoped organisation summaries.
          content:
            application/json:
              schema:
                type: object
                required: [organisations]
                properties:
                  organisations:
                    type: array
                    items: { $ref: '#/components/schemas/OrganisationSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/organisations/{organisation_id}:
    get:
      tags: [Organisations]
      operationId: getOrganisation
      summary: Get an authorised organisation with identifiers, capabilities, branches and memberships.
      security:
        - oauth2: [identity.read]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Canonical organisation detail. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/registration-applications:
    get:
      tags: [Registrations]
      operationId: listRegistrationApplications
      summary: List registration applications within the caller's authorised scope.
      security:
        - oauth2: [registrations.read]
      responses:
        '200':
          description: Registration applications and authoritative verification posture.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Registrations]
      operationId: submitRegistrationApplication
      summary: Submit an idempotent legal taxpayer registration for authoritative verification.
      description: Acceptance does not create a taxpayer or organisation. ITAS/NamRA verification and controlled approval must complete first.
      security:
        - oauth2: [registrations.submit]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistrationSubmission' }
      responses:
        '202':
          description: Accepted and held pending authoritative verification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationAccepted' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations:
    get:
      tags: [Quotations]
      operationId: listQuotations
      summary: List quotations in the authorised organisation.
      security: [{ oauth2: [commercial.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Tenant-scoped quotation register. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Quotations]
      operationId: createQuotation
      summary: Issue a quotation whose monetary and tax totals are calculated server-side.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationSubmission' } } }
      responses:
        '201': { description: Quotation issued. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}:
    patch:
      tags: [Quotations]
      operationId: updateQuotation
      summary: Append an immutable revision and update an unexpired issued quotation.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationSubmission' } } }
      responses:
        '200': { description: Quotation updated and immutable revision appended. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}/accept:
    post:
      tags: [Quotations]
      operationId: acceptQuotation
      summary: Accept an unexpired issued quotation using an idempotent state transition.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200': { description: Quotation accepted. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/quotations/{quotation_id}/rejection:
    post:
      tags: [Quotations]
      operationId: rejectQuotation
      summary: Reject an unexpired issued quotation with a protected reason.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationRejectionSubmission' } } }
      responses:
        '200': { description: Quotation rejected without deleting its history. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}/expiration:
    post:
      tags: [Quotations]
      operationId: expireQuotation
      summary: Explicitly expire an issued quotation after its valid-until date.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Overdue quotation explicitly expired. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/quotations/{quotation_id}/convert:
    post:
      tags: [Quotations, Invoices]
      operationId: convertQuotationToInvoice
      summary: Certify an accepted quotation as an invoice and preserve its source lineage.
      security: [{ oauth2: [quotations.manage, invoices.write] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationConversionSubmission' } } }
      responses:
        '201': { description: Invoice certified and quotation linked. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/accounting/journals:
    get:
      tags: [Accounting]
      operationId: listJournals
      summary: List journals in the authorised organisation.
      security: [{ oauth2: [accounting.read] }]
      responses: { '200': { description: Tenant-scoped journal register. } }
    post:
      tags: [Accounting]
      operationId: postJournal
      summary: Post a balanced double-entry journal.
      security: [{ oauth2: [accounting.post] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/JournalSubmission' } } }
      responses:
        '201': { description: Balanced journal posted. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses:
    get:
      tags: [Expenses]
      operationId: listExpenses
      summary: List expenses in the authorised organisation.
      security: [{ oauth2: [expenses.read] }]
      responses: { '200': { description: Tenant-scoped expense register. } }
    post:
      tags: [Expenses]
      operationId: createExpense
      summary: Record a draft expense with exact integer totals.
      security: [{ oauth2: [expenses.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseSubmission' } } }
      responses:
        '201': { description: Draft expense recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses/{expense_id}/decision:
    post:
      tags: [Expenses]
      operationId: decideExpense
      summary: Independently approve or reject a draft expense and append immutable decision evidence.
      security: [{ oauth2: [expenses.approve] }]
      parameters:
        - name: expense_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseDecisionSubmission' } } }
      responses:
        '200': { description: Independent decision recorded and draft expense transitioned. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses/{expense_id}/receipt:
    post:
      tags: [Expenses]
      operationId: linkExpenseReceipt
      summary: Immutably link a clean, available receipt to a draft expense.
      description: Quarantined, pending, rejected, cross-tenant, incorrectly owned or already-linked documents are refused.
      security: [{ oauth2: [expenses.manage] }]
      parameters:
        - name: expense_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseReceiptLinkSubmission' } } }
      responses:
        '200': { description: Clean receipt linked to the draft expense with immutable custody evidence. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/inventory/movements:
    get:
      tags: [Inventory]
      operationId: listInventoryBalances
      summary: List inventory balances in the authorised organisation.
      security: [{ oauth2: [inventory.read] }]
      responses: { '200': { description: Tenant-scoped inventory balances. } }
    post:
      tags: [Inventory]
      operationId: recordStockMovement
      summary: Record a signed stock movement without permitting negative on-hand stock.
      security: [{ oauth2: [inventory.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/StockMovementSubmission' } } }
      responses:
        '201': { description: Stock movement recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List projects and budget-to-cost projections in the authorised organisation.
      security: [{ oauth2: [projects.read] }]
      responses: { '200': { description: Tenant-scoped project register. } }
    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a planned project and optional proposed budget.
      security: [{ oauth2: [projects.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ProjectSubmission' } } }
      responses:
        '201': { description: Project created. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-periods:
    get:
      tags: [VAT periods]
      operationId: listVatPeriods
      summary: List governed VAT periods, latest return versions, approval tasks, reconciliation evidence and provider posture.
      security: [{ oauth2: [returns.read] }]
      responses:
        '200': { description: Authorised VAT lifecycle snapshot. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/vat-periods/{period_id}/adjustments:
    post:
      tags: [VAT periods]
      operationId: createVatAdjustment
      summary: Submit an adjustment into the maker-checker approval queue.
      security: [{ oauth2: [vat-adjustments.manage] }]
      parameters:
        - $ref: '#/components/parameters/VatPeriodId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VatAdjustmentSubmission' } } }
      responses:
        '201': { description: Adjustment recorded pending independent approval. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-periods/{period_id}/returns:
    post:
      tags: [VAT returns]
      operationId: generateVatReturn
      summary: Generate a reproducible return version from eligible ledger entries and approved adjustments.
      security: [{ oauth2: [returns.generate] }]
      parameters:
        - $ref: '#/components/parameters/VatPeriodId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '201': { description: Draft return version and calculation boxes generated. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-returns/{return_version_id}:
    get:
      tags: [VAT returns]
      operationId: getVatReturnVersion
      summary: Retrieve a return version with boxes, adjustments, approval history and provider submissions.
      security: [{ oauth2: [returns.read] }]
      parameters:
        - $ref: '#/components/parameters/VatReturnVersionId'
      responses:
        '200': { description: Return calculation evidence. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/vat-returns/{return_version_id}/approval-requests:
    post:
      tags: [Approvals]
      operationId: requestVatReturnApproval
      summary: Place a draft return into independent maker-checker approval.
      security: [{ oauth2: [returns.generate] }]
      parameters:
        - $ref: '#/components/parameters/VatReturnVersionId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202': { description: Approval task created. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/approval-tasks/{approval_task_id}/decision:
    post:
      tags: [Approvals]
      operationId: decideVatApproval
      summary: Approve or reject a VAT control, enforcing that requester and decision-maker differ.
      security: [{ oauth2: [returns.approve] }]
      parameters:
        - $ref: '#/components/parameters/ApprovalTaskId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ApprovalDecision' } } }
      responses:
        '200': { description: Approval task decided and controlled resource transitioned. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-returns/{return_version_id}/submissions:
    post:
      tags: [VAT returns]
      operationId: requestVatReturnSubmission
      summary: Request statutory-provider submission for an approved return.
      description: The request is recorded as blocked configuration when the authority-approved rules or ITAS contract are absent. This operation never represents an unacknowledged return as filed.
      security: [{ oauth2: [returns.submit] }]
      parameters:
        - $ref: '#/components/parameters/VatReturnVersionId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '202': { description: Submission request recorded as ready or explicitly blocked. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/compliance:
    get:
      tags: [Compliance]
      operationId: getComplianceWorkspace
      summary: Retrieve obligations, cases, disputes, advisory risk, refunds, communications, notifications, consents and delegations in scope.
      security: [{ oauth2: [compliance.read] }]
      responses:
        '200': { description: Authorised compliance workspace. }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/audit-cases:
    post:
      tags: [Audit cases]
      operationId: openAuditCase
      summary: Open an evidence-led national compliance case.
      security: [{ oauth2: [cases.manage] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/CaseOpeningSubmission' } } }
      responses:
        '201': { description: Audit case opened and taxpayer notification queued. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/disputes:
    post:
      tags: [Disputes]
      operationId: fileDispute
      summary: File an immutable taxpayer dispute for independent review.
      security: [{ oauth2: [disputes.manage] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/DisputeSubmission' } } }
      responses:
        '201': { description: Dispute filed. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/refunds:
    post:
      tags: [Refunds]
      operationId: requestRefund
      summary: Request refund eligibility review for a negative return version.
      description: An unfiled return creates a blocked record and cannot advance into review or payment.
      security: [{ oauth2: [refunds.request] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/RefundRequestSubmission' } } }
      responses:
        '201': { description: Refund request recorded as eligible for review or explicitly blocked. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/refunds/{refund_claim_id}/reviews:
    post:
      tags: [Refunds]
      operationId: reviewRefund
      summary: Record a staged human refund review.
      security: [{ oauth2: [refunds.review] }]
      parameters:
        - name: refund_claim_id
          in: path
          required: true
          schema: { type: string, minLength: 2, maxLength: 100 }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/RefundReviewSubmission' } } }
      responses:
        '200': { description: Review stage recorded. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/invoices:
    get:
      tags: [Invoices]
      operationId: listInvoices
      summary: List authorised invoices under tenant or national scope.
      security:
        - oauth2: [invoices.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Authorised invoice summaries. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Invoices]
      operationId: submitInvoice
      summary: Submit a canonical fiscal document for validation and certification.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/vat-msa-invoice.schema.json'
      responses:
        '201':
          description: Certified and posted.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationReceipt'
        '202':
          description: Accepted for asynchronous processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionAccepted'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/invoices/{invoice_id}:
    get:
      tags: [Invoices]
      operationId: getInvoiceStatus
      summary: Get status, calculation evidence and exception references for a submitted invoice.
      security:
        - oauth2: [invoices.read]
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Invoice processing status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceStatus'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/platform:
    get:
      tags: [Platform]
      operationId: getPlatformPosture
      summary: Read authorised integration, API client, offline, reporting, document and service-component posture.
      security:
        - oauth2: [platform.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Role- and tenant-scoped platform posture. Credential values are never returned.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformSnapshot' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/documents:
    post:
      tags: [Documents]
      operationId: quarantineDocument
      summary: Store a bounded evidence object in private quarantine and commit integrity metadata.
      description: The object is unavailable for download until an external malware scanner records a clean result. No scan result is inferred by this service.
      security:
        - oauth2: [documents.upload]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/DocumentUpload' }
      responses:
        '201':
          description: Evidence stored in private quarantine with SHA-256 integrity metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuarantinedDocumentResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/ValidationFailed' }
        '415': { $ref: '#/components/responses/ValidationFailed' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/reports/{code}/runs:
    post:
      tags: [Reports]
      operationId: runControlledReport
      summary: Execute an allow-listed, tenant-scoped inline aggregate report.
      description: Arbitrary SQL is never accepted. Large exports remain unavailable until a separate worker and clean-document pipeline are configured.
      security:
        - oauth2: [reports.run]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, minLength: 2, maxLength: 80 }
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              maxProperties: 50
      responses:
        '201':
          description: Inline report completed and registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InlineReportResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/offline/batches:
    post:
      tags: [Offline]
      operationId: submitOfflineBatch
      summary: Synchronise a signed, ordered batch from an enrolled offline device.
      security:
        - oauth2: [offline.sync]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineBatch'
      responses:
        '202':
          description: Batch intake completed. Until device trust and signature verification are configured, the returned batch is REJECTED with an explicit reason and preserved as audit evidence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineBatchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/verify/{verification_token}:
    get:
      tags: [Verification]
      operationId: verifyCertificate
      summary: Verify a certificate using the opaque QR token without exposing full invoice data.
      security: []
      parameters:
        - name: verification_token
          in: path
          required: true
          schema: { type: string, minLength: 32, maxLength: 256 }
      responses:
        '200':
          description: Privacy-minimised verification outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicVerification'
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/access-requests:
    get:
      tags: [Approvals]
      operationId: listAccessRequests
      summary: List tenant-scoped access requests and review context.
      responses:
        '200': { description: Authorised access requests. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Approvals]
      operationId: createAccessRequest
      summary: Request a role assignment without granting it.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Access request created. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/access-requests/{access_request_id}/decision:
    post:
      tags: [Approvals]
      operationId: decideAccessRequest
      summary: Record an independent, immutable access decision with single-use step-up evidence.
      parameters:
        - { name: access_request_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Independent decision recorded. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/access-reviews:
    get:
      tags: [Approvals]
      operationId: listAccessReviews
      summary: List quarterly access reviews in authorised scope.
      responses:
        '200': { description: Access reviews and certifications. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Approvals]
      operationId: createAccessReview
      summary: Open a quarterly access review with step-up authentication.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Quarterly review opened. }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/access-reviews/{access_review_id}/certifications:
    post:
      tags: [Approvals]
      operationId: certifyAccessReview
      summary: Record an immutable access-review certification.
      parameters:
        - { name: access_review_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Certification recorded. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/administration:
    get:
      tags: [Organisations]
      operationId: getAdministrationWorkspace
      summary: Read the licensed administration and governance workspace.
      responses:
        '200': { description: Authorised administration snapshot. }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/business-parties:
    get:
      tags: [Organisations]
      operationId: listBusinessParties
      summary: List tenant-scoped business parties.
      responses:
        '200': { description: Business party register. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: createBusinessParty
      summary: Create a tenant-scoped business party.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Business party created. }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/business-parties/{business_party_id}:
    patch:
      tags: [Organisations]
      operationId: updateBusinessParty
      summary: Update an active business party under tenant scope.
      parameters:
        - { name: business_party_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Business party updated. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business-parties/{business_party_id}/deactivation:
    post:
      tags: [Organisations]
      operationId: deactivateBusinessParty
      summary: Non-destructively deactivate a business party.
      parameters:
        - { name: business_party_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      responses:
        '200': { description: Business party deactivated. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/organisations/employees:
    get:
      tags: [Organisations]
      operationId: listOrganisationEmployees
      summary: List licensed organisation employees.
      responses:
        '200': { description: Employee register. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: createOrganisationEmployee
      summary: Create an employee within licensed seat capacity using step-up authentication.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Employee created. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/organisations/employees/{employee_id}/termination:
    post:
      tags: [Organisations]
      operationId: terminateOrganisationEmployee
      summary: Non-destructively terminate an employee using step-up authentication.
      parameters:
        - { name: employee_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      responses:
        '200': { description: Employee terminated. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/organisations/roles:
    get:
      tags: [Organisations]
      operationId: listOrganisationRoles
      summary: List organisation-defined roles and grants.
      responses:
        '200': { description: Organisation roles. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: createOrganisationRole
      summary: Create a role using step-up authentication and SoD validation.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Role created. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/workflow-tasks/{workflow_task_id}/decision:
    post:
      tags: [Approvals]
      operationId: decideWorkflowTask
      summary: Record an independent workflow decision with no self-approval.
      parameters:
        - { name: workflow_task_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Workflow decision recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/workflows:
    get:
      tags: [Approvals]
      operationId: listWorkflows
      summary: List workflows, versions and outstanding tasks.
      responses:
        '200': { description: Workflow register. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Approvals]
      operationId: createWorkflowDraft
      summary: Create a workflow draft using step-up authentication.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Workflow draft created. }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/workflows/versions/{workflow_version_id}/publication:
    post:
      tags: [Approvals]
      operationId: publishWorkflowVersion
      summary: Publish a validated workflow version using step-up authentication.
      parameters:
        - { name: workflow_version_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      responses:
        '200': { description: Workflow version published. }
        '409': { $ref: '#/components/responses/Conflict' }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://identity.vat-msa.na/oauth2/token
          scopes:
            identity.read: Read canonical identity and organisation data within authorised scope.
            registrations.read: Read authorised registration applications.
            registrations.submit: Submit a registration application for verification.
            commercial.read: Read commercial records.
            quotations.manage: Create and transition quotations.
            accounting.read: Read the chart and journal register.
            accounting.post: Post balanced journals.
            expenses.read: Read expenses.
            expenses.manage: Record and transition expenses.
            expenses.approve: Independently approve or reject draft expenses.
            inventory.read: Read inventory balances.
            inventory.manage: Record stock movements.
            projects.read: Read projects.
            projects.manage: Manage projects and budgets.
            returns.generate: Generate versioned VAT returns.
            returns.approve: Decide VAT approvals under maker-checker control.
            returns.submit: Request provider submission of an approved return.
            vat-adjustments.manage: Submit governed VAT adjustments.
            compliance.read: Read authorised compliance records.
            cases.manage: Open and manage evidence-led audit cases.
            disputes.manage: File and manage disputes.
            refunds.request: Request refund eligibility review.
            refunds.review: Perform staged refund review.
            invoices.write: Submit fiscal documents.
            invoices.read: Read documents belonging to the authorised taxpayer.
            certificates.read: Retrieve certification receipts.
            platform.read: Read authorised platform, integration and service-component posture.
            documents.upload: Store tenant-scoped evidence in private quarantine.
            reports.run: Execute allow-listed, tenant-scoped inline reports.
            offline.sync: Synchronise enrolled offline devices.
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Stable key unique to the client and business operation. Reuse with a different body is rejected.
      schema: { type: string, minLength: 16, maxLength: 128 }
    CorrelationId:
      name: X-Correlation-ID
      in: header
      required: false
      schema: { type: string, format: uuid }
    InvoiceId:
      name: invoice_id
      in: path
      required: true
      schema: { type: string, format: uuid }
    OrganisationId:
      name: organisation_id
      in: path
      required: true
      schema: { type: string, minLength: 1, maxLength: 100 }
    OrganisationScope:
      name: organisation_id
      in: query
      required: false
      description: National-pilot operators may select an organisation; taxpayer identities are always forced to their own organisation.
      schema: { type: string, minLength: 1, maxLength: 100 }
    VatPeriodId:
      name: period_id
      in: path
      required: true
      schema: { type: string, minLength: 2, maxLength: 100 }
    VatReturnVersionId:
      name: return_version_id
      in: path
      required: true
      schema: { type: string, minLength: 2, maxLength: 100 }
    ApprovalTaskId:
      name: approval_task_id
      in: path
      required: true
      schema: { type: string, minLength: 2, maxLength: 100 }
  headers:
    CorrelationId:
      description: End-to-end trace identifier.
      schema: { type: string, format: uuid }
  schemas:
    SelfServeSignupSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, applicant_name, applicant_role, contact_email, country_code, plan_code, vat_number, tin, legal_name, taxpayer_type, return_frequency, address, company_system_administrator_attested, terms_accepted, privacy_notice_accepted]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        applicant_name: { type: string, minLength: 2, maxLength: 120 }
        applicant_role: { type: string, enum: [OWNER, DIRECTOR, PARTNER, TRUSTEE, AUTHORISED_REPRESENTATIVE] }
        contact_email: { type: string, format: email, maxLength: 254 }
        country_code: { type: string, const: NA }
        plan_code:
          type: string
          pattern: '^[A-Z][A-Z0-9_]{2,39}$'
          description: Configurable active placeholder plan; no price or payment data is accepted.
        vat_number: { type: string, minLength: 3, maxLength: 40 }
        tin: { type: string, minLength: 3, maxLength: 40 }
        company_registration_number: { type: string, minLength: 3, maxLength: 40 }
        legal_name: { type: string, minLength: 2, maxLength: 200 }
        trading_name: { type: string, minLength: 2, maxLength: 200 }
        taxpayer_type: { type: string, enum: [PRIVATE_COMPANY, CLOSE_CORPORATION, SOLE_PROPRIETOR, PARTNERSHIP, TRUST, NON_PROFIT, PUBLIC_ENTITY, OTHER] }
        return_frequency: { type: string, enum: [MONTHLY, BIMONTHLY, QUARTERLY, ANNUAL] }
        address: { type: string, minLength: 5, maxLength: 500 }
        company_system_administrator_attested:
          type: boolean
          const: true
          description: Ordinary employees must use invitation/sign-in and cannot initiate a company subscription.
        terms_accepted: { type: boolean, const: true }
        privacy_notice_accepted: { type: boolean, const: true }
    SelfServeSignupAccepted:
      type: object
      additionalProperties: false
      required: [application_reference, status, identity_status, taxpayer_verification_status, licence_status, submitted_at, next_action]
      properties:
        application_reference: { type: string, pattern: '^VMS-[0-9]{4}-[A-F0-9]{10}$' }
        status: { type: string, const: PENDING_VERIFICATION }
        identity_status: { type: string, enum: [VERIFICATION_REQUIRED, EXTERNALLY_ASSERTED] }
        taxpayer_verification_status: { type: string, const: AWAITING_PROVIDER_CONTRACT }
        licence_status: { type: string, const: NOT_ACTIVATED }
        submitted_at: { type: string, format: date-time }
        next_action: { type: string, maxLength: 500 }
    AuthorityDomain:
      type: string
      enum: [GOVERNMENT_TAX, COMMERCIAL_SAAS, PLATFORM_CONTROL]
    CapacityMode:
      type: string
      enum: [FINITE, UNLIMITED, NOT_APPLICABLE]
      description: UNLIMITED is explicit and is never inferred from NULL or a large numeric value.
    OrganisationSummary:
      type: object
      additionalProperties: false
      required: [id, taxpayer_id, legal_name, vat_number, tin, status, branch_count, member_count, capabilities]
      properties:
        id: { type: string, maxLength: 100 }
        taxpayer_id: { type: string, maxLength: 100 }
        legal_name: { type: string, maxLength: 200 }
        trading_name: { type: [string, 'null'], maxLength: 200 }
        vat_number: { type: string, maxLength: 40 }
        tin: { type: string, maxLength: 40 }
        status: { type: string, enum: [ACTIVE, SUSPENDED, CLOSED] }
        branch_count: { type: integer, minimum: 0 }
        member_count: { type: integer, minimum: 0 }
        capabilities:
          type: string
          description: Comma-separated pilot projection; future contract versions return a typed array.
    RegistrationSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, vat_number, tin, legal_name, taxpayer_type, return_frequency, address, email]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        vat_number: { type: string, minLength: 3, maxLength: 40 }
        tin: { type: string, minLength: 3, maxLength: 40 }
        company_registration_number: { type: string, minLength: 3, maxLength: 40 }
        legal_name: { type: string, minLength: 2, maxLength: 200 }
        trading_name: { type: string, minLength: 2, maxLength: 200 }
        taxpayer_type: { type: string, enum: [PRIVATE_COMPANY, CLOSE_CORPORATION, SOLE_PROPRIETOR, PARTNERSHIP, TRUST, NON_PROFIT, PUBLIC_ENTITY, OTHER] }
        return_frequency: { type: string, enum: [MONTHLY, BIMONTHLY, QUARTERLY, ANNUAL] }
        address: { type: string, minLength: 5, maxLength: 500 }
        email: { type: string, format: email, maxLength: 254 }
    RegistrationAccepted:
      type: object
      additionalProperties: false
      required: [registration_id, status, verification_source, verification_status, submitted_at, next_action]
      properties:
        registration_id: { type: string, format: uuid }
        status: { type: string, const: PENDING_VERIFICATION }
        verification_source: { type: string, const: ITAS }
        verification_status: { type: string, const: AWAITING_PROVIDER_CONTRACT }
        submitted_at: { type: string, format: date-time }
        next_action: { type: string }
    QuotationSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, customer_party_id, quotation_number, currency, issue_date, valid_until, lines]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        customer_party_id: { type: string, minLength: 2, maxLength: 100 }
        branch_id: { type: string, minLength: 2, maxLength: 100 }
        quotation_number: { type: string, minLength: 2, maxLength: 40 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        issue_date: { type: string, format: date }
        valid_until: { type: string, format: date }
        notes: { type: string, maxLength: 2000 }
        lines:
          type: array
          minItems: 1
          maxItems: 200
          items:
            type: object
            additionalProperties: false
            required: [description, quantity_micros, unit_code, unit_price_cents, tax_category, tax_rate_bps]
            properties:
              product_id: { type: string, minLength: 2, maxLength: 100 }
              description: { type: string, minLength: 2, maxLength: 500 }
              quantity_micros: { type: integer, minimum: 1 }
              unit_code: { type: string, minLength: 1, maxLength: 12 }
              unit_price_cents: { type: integer, minimum: 0 }
              tax_category: { type: string, enum: [STANDARD, ZERO_RATED, EXEMPT, OUT_OF_SCOPE] }
              tax_rate_bps: { type: integer, minimum: 0, maximum: 10000 }
    QuotationConversionSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, invoice_number, issue_date]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        invoice_number: { type: string, minLength: 2, maxLength: 100, pattern: '^[A-Za-z0-9][A-Za-z0-9._/-]{1,99}$' }
        issue_date: { type: string, format: date }
        due_date: { type: string, format: date }
    QuotationRejectionSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, reason]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        reason: { type: string, minLength: 5, maxLength: 500 }
    JournalSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, journal_number, journal_date, description, currency, source_type, lines]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        journal_number: { type: string, minLength: 2, maxLength: 40 }
        journal_date: { type: string, format: date }
        reference: { type: string, maxLength: 100 }
        description: { type: string, minLength: 2, maxLength: 500 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        source_type: { type: string, enum: [MANUAL, EXPENSE, INVOICE, IMPORT, ADJUSTMENT] }
        source_id: { type: string, minLength: 2, maxLength: 100 }
        lines:
          type: array
          minItems: 2
          maxItems: 500
          items:
            type: object
            additionalProperties: false
            required: [account_id, description, debit_cents, credit_cents]
            properties:
              account_id: { type: string, minLength: 2, maxLength: 100 }
              branch_id: { type: string, minLength: 2, maxLength: 100 }
              project_id: { type: string, minLength: 2, maxLength: 100 }
              description: { type: string, minLength: 2, maxLength: 500 }
              debit_cents: { type: integer, minimum: 0 }
              credit_cents: { type: integer, minimum: 0 }
              tax_code: { type: string, maxLength: 40 }
    ExpenseSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, category_id, expense_number, expense_date, description, currency, net_cents, tax_cents, total_cents]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        category_id: { type: string, minLength: 2, maxLength: 100 }
        supplier_party_id: { type: string, minLength: 2, maxLength: 100 }
        project_id: { type: string, minLength: 2, maxLength: 100 }
        branch_id: { type: string, minLength: 2, maxLength: 100 }
        expense_number: { type: string, minLength: 2, maxLength: 40 }
        expense_date: { type: string, format: date }
        description: { type: string, minLength: 2, maxLength: 500 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        net_cents: { type: integer, minimum: 0 }
        tax_cents: { type: integer, minimum: 0 }
        total_cents: { type: integer, minimum: 0 }
    ExpenseDecisionSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, decision, reason]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        decision: { type: string, enum: [APPROVE, REJECT] }
        reason: { type: string, minLength: 5, maxLength: 500 }
    ExpenseReceiptLinkSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, receipt_document_id]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        receipt_document_id: { type: string, minLength: 2, maxLength: 100 }
    StockMovementSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, warehouse_id, product_id, movement_type, quantity_micros, unit_cost_cents, reference_type, reference_id, reason]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        warehouse_id: { type: string, minLength: 2, maxLength: 100 }
        product_id: { type: string, minLength: 2, maxLength: 100 }
        movement_type: { type: string, enum: [RECEIPT, ISSUE, TRANSFER_IN, TRANSFER_OUT, ADJUSTMENT_IN, ADJUSTMENT_OUT] }
        quantity_micros: { type: integer, minimum: 1 }
        unit_cost_cents: { type: integer, minimum: 0 }
        reference_type: { type: string, minLength: 2, maxLength: 40 }
        reference_id: { type: string, minLength: 2, maxLength: 100 }
        reason: { type: string, minLength: 2, maxLength: 500 }
        occurred_at: { type: string, format: date-time }
    ProjectSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, code, name, currency, start_date]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        code: { type: string, minLength: 2, maxLength: 40 }
        name: { type: string, minLength: 2, maxLength: 200 }
        customer_party_id: { type: string, minLength: 2, maxLength: 100 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
        start_date: { type: string, format: date }
        end_date: { type: string, format: date }
        budget_cents: { type: integer, minimum: 0 }
    VatAdjustmentSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, adjustment_type, direction, amount_cents, reason_code, explanation]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        adjustment_type: { type: string, enum: [OUTPUT_TAX, INPUT_TAX, NET_PAYABLE] }
        direction: { type: string, enum: [INCREASE, DECREASE] }
        amount_cents: { type: integer, minimum: 1 }
        reason_code: { type: string, minLength: 2, maxLength: 40 }
        explanation: { type: string, minLength: 10, maxLength: 2000 }
        evidence_document_id: { type: string, minLength: 2, maxLength: 100 }
    ApprovalDecision:
      type: object
      additionalProperties: false
      required: [decision, comment]
      properties:
        decision: { type: string, enum: [APPROVE, REJECT] }
        comment: { type: string, minLength: 5, maxLength: 1000 }
    CaseOpeningSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, taxpayer_id, case_type, title, opening_reason, risk_tier]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        taxpayer_id: { type: string, minLength: 2, maxLength: 100 }
        case_type: { type: string, enum: [DESK_REVIEW, VAT_AUDIT, REFUND_VERIFICATION, INVESTIGATION] }
        title: { type: string, minLength: 5, maxLength: 200 }
        opening_reason: { type: string, minLength: 20, maxLength: 2000 }
        risk_tier: { type: string, enum: [LOW, MEDIUM, HIGH, CRITICAL] }
    DisputeSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, disputed_resource_type, disputed_resource_id, grounds, disputed_amount_cents, currency]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        taxpayer_id: { type: string, minLength: 2, maxLength: 100 }
        audit_case_id: { type: string, minLength: 2, maxLength: 100 }
        disputed_resource_type: { type: string, enum: [AUDIT_FINDING, VAT_RETURN, REFUND_DECISION, OBLIGATION] }
        disputed_resource_id: { type: string, minLength: 2, maxLength: 100 }
        grounds: { type: string, minLength: 20, maxLength: 4000 }
        disputed_amount_cents: { type: integer, minimum: 0 }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
    RefundRequestSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, vat_return_version_id]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        vat_return_version_id: { type: string, minLength: 2, maxLength: 100 }
    RefundReviewSubmission:
      type: object
      additionalProperties: false
      required: [schema_version, stage, decision, findings]
      properties:
        schema_version: { type: string, const: 1.0.0 }
        stage: { type: string, enum: [EVIDENCE, RISK, SUPERVISOR, PAYMENT_AUTHORISATION] }
        decision: { type: string, enum: [APPROVE, REJECT, REQUEST_INFORMATION, HOLD] }
        findings: { type: string, minLength: 10, maxLength: 2000 }
    SubmissionAccepted:
      type: object
      additionalProperties: false
      required: [submission_id, status, received_at]
      properties:
        submission_id: { type: string, format: uuid }
        status: { type: string, enum: [RECEIVED, PROCESSING] }
        received_at: { type: string, format: date-time }
        status_url: { type: string, format: uri }
    CertificationReceipt:
      type: object
      additionalProperties: false
      required: [invoice_id, transaction_id, certificate_id, status, certified_at, rule_set_id, rule_set_version, legal_authority_reference, invoice_hash, signature, verification_url]
      properties:
        invoice_id: { type: string, format: uuid }
        document_type: { type: string, enum: [TAX_INVOICE, SIMPLIFIED_TAX_INVOICE, CREDIT_NOTE, DEBIT_NOTE, SELF_BILLED_INVOICE] }
        transaction_id: { type: string, format: uuid }
        certificate_id: { type: string, format: uuid }
        status: { type: string, const: CERTIFIED }
        processing_status: { type: string, enum: [CERTIFIED, MATCHED, EXCEPTION] }
        certified_at: { type: string, format: date-time }
        rule_set_id: { type: string, minLength: 1, description: Immutable identifier of the authority-approved rule resolved for the issue date. }
        rule_set_version: { type: string, minLength: 1 }
        legal_authority_reference: { type: string, minLength: 1 }
        invoice_hash: { type: string, pattern: '^[A-Fa-f0-9]{64}$', description: Certification hash binding the payload hash and approved statutory rule evidence. }
        signature: { type: string, description: JWS or equivalent approved signature container. }
        verification_url: { type: string, format: uri }
        qr_payload: { type: string }
        correction:
          type: [object, 'null']
          additionalProperties: false
          properties:
            originalInvoiceId: { type: string }
            originalInvoiceNumber: { type: string }
            correctionType: { type: string, enum: [CREDIT_NOTE, DEBIT_NOTE] }
            reasonCode: { type: [string, 'null'] }
            reason: { type: string }
            status: { type: string }
            createdAt: { type: string, format: date-time }
    InvoiceStatus:
      type: object
      additionalProperties: false
      required: [invoice_id, status, updated_at]
      properties:
        invoice_id: { type: string, format: uuid }
        status:
          type: string
          enum: [RECEIVED, VALIDATING, REJECTED, ACCEPTED, CERTIFIED, POSTED, MATCHED, EXCEPTION, REVERSED]
        updated_at: { type: string, format: date-time }
        certificate_id: { type: string, format: uuid }
        transaction_id: { type: string, format: uuid }
        exception_ids:
          type: array
          items: { type: string, format: uuid }
        validation_messages:
          type: array
          items: { $ref: '#/components/schemas/ValidationMessage' }
    ValidationMessage:
      type: object
      additionalProperties: false
      required: [code, severity, message]
      properties:
        code: { type: string, maxLength: 80 }
        severity: { type: string, enum: [ERROR, WARNING, INFORMATION] }
        path: { type: string, description: JSON Pointer to the affected value. }
        message: { type: string, maxLength: 1000 }
        rule_reference: { type: string, maxLength: 100 }
    OfflineBatch:
      type: object
      additionalProperties: false
      required: [device_id, batch_id, sequence_from, sequence_to, created_at, documents, device_signature]
      properties:
        device_id: { type: string, maxLength: 100 }
        batch_id: { type: string, format: uuid }
        sequence_from: { type: integer, minimum: 1 }
        sequence_to: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        previous_batch_hash: { type: string, pattern: '^[A-Fa-f0-9]{64}$' }
        documents:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: './schemas/vat-msa-invoice.schema.json'
        device_signature: { type: string }
    OfflineBatchResponse:
      type: object
      additionalProperties: false
      required: [batch]
      properties:
        batch:
          type: object
          additionalProperties: true
          required: [id, client_batch_id, status, received_at]
          properties:
            id: { type: string, format: uuid }
            client_batch_id: { type: string, format: uuid }
            status: { type: string, enum: [REJECTED, ACCEPTED, PROCESSING, CONFLICT] }
            rejection_reason: { type: [string, 'null'], maxLength: 200 }
            received_at: { type: string, format: date-time }
    DocumentUpload:
      type: object
      additionalProperties: false
      required: [owner_domain, owner_resource_id, classification, file]
      properties:
        organisation_id: { type: string, minLength: 2, maxLength: 100 }
        owner_domain: { type: string, enum: [EXPENSE, IMPORT, AUDIT_CASE, VAT_ADJUSTMENT, REFUND, BANK_IMPORT] }
        owner_resource_id: { type: string, minLength: 2, maxLength: 100 }
        classification: { type: string, enum: [INTERNAL, CONFIDENTIAL, TAX_CONFIDENTIAL, RESTRICTED] }
        file:
          type: string
          format: binary
          maxLength: 10485760
    QuarantinedDocumentResponse:
      type: object
      additionalProperties: false
      required: [document, next_action]
      properties:
        document:
          type: object
          additionalProperties: false
          required: [id, owner_domain, owner_resource_id, file_name, content_type, size_bytes, checksum_sha256, classification, scan_status, status, uploaded_at]
          properties:
            id: { type: string, format: uuid }
            owner_domain: { type: string }
            owner_resource_id: { type: string }
            file_name: { type: string, maxLength: 180 }
            content_type: { type: string }
            size_bytes: { type: integer, minimum: 1, maximum: 10485760 }
            checksum_sha256: { type: string, pattern: '^[A-Fa-f0-9]{64}$' }
            classification: { type: string }
            scan_status: { type: string, const: PENDING_EXTERNAL_SCANNER }
            status: { type: string, const: QUARANTINED }
            uploaded_at: { type: string, format: date-time }
        next_action: { type: string }
    InlineReportResponse:
      type: object
      additionalProperties: false
      required: [report_run]
      properties:
        report_run:
          type: object
          additionalProperties: false
          required: [id, report_code, status, result_summary, requested_at]
          properties:
            id: { type: string, format: uuid }
            report_code: { type: string }
            status: { type: string, const: COMPLETED_INLINE }
            result_summary:
              type: object
              additionalProperties: { type: integer }
            requested_at: { type: string, format: date-time }
    PlatformSnapshot:
      type: object
      additionalProperties: false
      required: [integrations, clients, webhooks, syncJobs, bankImports, payments, devices, numberRanges, batches, conflicts, reportDefinitions, reportRuns, components, documents, outbox]
      properties:
        integrations: { type: array, items: { type: object, additionalProperties: true } }
        clients: { type: array, items: { type: object, additionalProperties: true } }
        webhooks: { type: array, items: { type: object, additionalProperties: true } }
        syncJobs: { type: array, items: { type: object, additionalProperties: true } }
        bankImports: { type: array, items: { type: object, additionalProperties: true } }
        payments: { type: array, items: { type: object, additionalProperties: true } }
        devices: { type: array, items: { type: object, additionalProperties: true } }
        numberRanges: { type: array, items: { type: object, additionalProperties: true } }
        batches: { type: array, items: { type: object, additionalProperties: true } }
        conflicts: { type: array, items: { type: object, additionalProperties: true } }
        reportDefinitions: { type: array, items: { type: object, additionalProperties: true } }
        reportRuns: { type: array, items: { type: object, additionalProperties: true } }
        components: { type: array, items: { type: object, additionalProperties: true } }
        documents: { type: array, items: { type: object, additionalProperties: true } }
        outbox: { type: array, items: { type: object, additionalProperties: true } }
    PublicVerification:
      type: object
      additionalProperties: false
      required: [valid, certificate_status, certified_at, supplier_display, invoice_number_masked, total_amount, currency]
      properties:
        valid: { type: boolean }
        certificate_status: { type: string, enum: [VALID, REVERSED, REVOKED, UNKNOWN] }
        certified_at: { type: string, format: date-time }
        supplier_display: { type: string, maxLength: 250 }
        invoice_number_masked: { type: string, maxLength: 100 }
        total_amount: { type: string }
        currency: { type: string, pattern: '^[A-Z]{3}$' }
    LicenseState:
      type: string
      enum: [TRIAL, ACTIVE, GRACE_PERIOD, PENDING_RENEWAL, SUSPENDED, EXPIRED, CANCELLED]
      description: Server-authoritative organisation licence state; clients cannot select or change it.
    Problem:
      type: object
      description: RFC 9457-compatible problem detail.
      additionalProperties: true
      required: [type, title, status]
      properties:
        type: { type: string, format: uri-reference }
        title: { type: string }
        status: { type: integer, minimum: 400, maximum: 599 }
        detail: { type: string }
        code:
          type: string
          description: Stable denial or validation code, including FEATURE_NOT_ENTITLED, LICENSE_SUSPENDED, LICENSE_EXPIRED, LICENSE_CANCELLED, GRACE_PERIOD_NO_EXPANSION or LICENSE_POLICY_MISSING.
        instance: { type: string, format: uri-reference }
        correlation_id: { type: string, format: uuid }
        errors:
          type: array
          items: { $ref: '#/components/schemas/ValidationMessage' }
  responses:
    BadRequest:
      description: Malformed request.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Unauthorized:
      description: Authentication failed.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Authenticated identity lacks permission/scope, the feature is not entitled, or licence state forbids the operation class. Restricted licence states never delete historical records.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Resource not found or not visible to the caller.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Conflict:
      description: Duplicate, sequence conflict or idempotency-key body mismatch.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    ValidationFailed:
      description: Canonical or business-rule validation failed.
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    RateLimited:
      description: Client or taxpayer rate limit exceeded.
      headers:
        Retry-After: { schema: { type: integer, minimum: 1 } }
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Unavailable:
      description: Temporary dependency or platform failure; retry only with the same idempotency key.
      headers:
        Retry-After: { schema: { type: integer, minimum: 1 } }
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
