openapi: 3.1.0
info:
  title: VAT-MSA Fiscal Transaction API
  version: 0.9.0
  summary: Controlled self-serve onboarding plus centrally licensed identity, business, VAT, evidence, search and platform-edge contracts.
  description: |
    Architecture-baseline contract only. Legal invoice particulars, authentication profiles,
    error codes, signature formats, retention and service levels require NamRA approval.
    Every protected operation is classified by authority domain. Government-tax features use
    the independent Government Tax Authorization Service; commercial features use the License
    & Entitlement Service; platform-control permissions do not imply either domain membership.
    Suspended, expired and cancelled commercial licences preserve records and approved continuity.
x-vat-msa-license-enforcement:
  policy_authority: license_permission_policies
  authority_domains: [GOVERNMENT_TAX, COMMERCIAL_SAAS, PLATFORM_CONTROL]
  evaluation_order: [identity, tenant_or_jurisdiction, permission, feature_authority_domain, domain_specific_authorization, usage_limit, security_policy, workflow, segregation_of_duties]
  restricted_states: [SUSPENDED, EXPIRED, CANCELLED]
  continuity_operations: [READ, EXPORT, COMPLIANCE_WRITE, CORRECTION_WRITE]
  denied_operations_after_restriction: [BUSINESS_WRITE, ADMIN_WRITE]
  public_exemptions: [/health/live, /health/ready, /v1/signup-applications, '/v1/verify/{token}']
  failure_mode: deny
servers:
  - url: https://sandbox.api.vat-msa.na
    description: Conformance sandbox
  - url: https://api.vat-msa.na
    description: Production (proposed)
security:
  - oauth2: [invoices.write]
tags:
  - name: Signup
  - name: Identity
  - name: Identity proofing
  - name: Authority governance
  - name: Organisations
  - name: Registrations
  - name: Quotations
  - name: Accounting
  - name: Expenses
  - name: Inventory
  - name: Projects
  - name: VAT periods
  - name: VAT returns
  - name: Approvals
  - name: Compliance
  - name: Audit cases
  - name: Disputes
  - name: Refunds
  - name: Invoices
  - name: Certificates
  - name: Platform
  - name: Documents
  - name: Reports
  - name: Offline
  - name: Verification
  - name: Audit
  - name: Integrations
  - name: Analytics
  - name: Navigation
  - name: Counterparties
  - name: Notifications
  - name: Obligations
  - name: Users
  - name: VAT rules
  - name: Audit evidence
  - name: Developer
  - name: SaaS providers
  - name: Security
  - name: Taxpayers
  - name: Access grants
  - name: Portals
  - name: Risk indicators
  - name: SaaS applications
  - name: Workflows
  - name: Communications
  - name: Exceptions
  - name: Payments
  - name: Taxpayer systems
  - name: Fixed assets
  - name: Logistics
paths:
  /v1/signup-applications:
    post:
      tags: [Signup]
      operationId: submitSelfServeSignup
      summary: Submit a controlled company-commercial application as the attested Company System Administrator.
      x-authority-domain: COMMERCIAL_SAAS
      description: |
        This public, rate-limited intake records explicit Company System Administrator attestation,
        organisation identity, consent and a configurable commercial placeholder-plan request. Acceptance creates only
        an immutable pending-verification application. It never creates a user, taxpayer,
        organisation, subscription or licence and never triggers payment, email, SMS or live
        ITAS/NamRA activity. A trusted Sites/ChatGPT identity assertion may be recorded when
        present, but it does not provision access.
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SelfServeSignupSubmission' }
      responses:
        '202':
          description: Application accepted and held pending administrator and organisation verification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SelfServeSignupAccepted' }
        '403':
          description: COMPANY_ADMIN_AUTHORITY_REQUIRED; ordinary employees must use invitation or sign-in.
        '409': { $ref: '#/components/responses/Conflict' }
        '413':
          description: Request exceeds the 32 KiB signup limit.
        '415':
          description: Content-Type is not application/json.
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429':
          description: Public signup rate budget exceeded.
  /v1/licensing/license:
    get:
      tags: [Organisations]
      operationId: getEffectiveOrganisationLicense
      summary: Read the authoritative licence, enabled features, limits and current usage for the resolved organisation.
      security:
        - oauth2: [licensing.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: organisation_id
          in: query
          schema: { type: string, minLength: 1, maxLength: 80 }
      responses:
        '200':
          description: Current non-priced placeholder plan, licence state and entitlements.
          content:
            application/json:
              schema:
                type: object
                required: [organisation, license, entitlements]
                properties:
                  organisation: { type: object, additionalProperties: true }
                  license:
                    type: object
                    required: [state, retention_policy]
                    properties:
                      state: { $ref: '#/components/schemas/LicenseState' }
                      retention_policy: { type: string }
                      price: { type: 'null' }
                    additionalProperties: true
                  entitlements: { type: array, items: { type: object, additionalProperties: true } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/navigation/workspace:
    get:
      tags: [Organisations]
      operationId: getEffectiveLicensedWorkspace
      summary: Return only navigation destinations permitted by role, feature entitlement and current licence continuity state.
      security:
        - oauth2: [workspace.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Effective server-generated workspace projection including safe licence-state context.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/search:
    get:
      tags: [Organisations]
      operationId: searchLicensedWorkspace
      summary: Search only licensed, tenant-scoped, permission-visible records; historical search remains available in continuity mode.
      security:
        - oauth2: [search.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, maxLength: 80 }
      responses:
        '200':
          description: Bounded authorised search results.
          content:
            application/json:
              schema: { type: object, required: [query, results], properties: { query: { type: string }, results: { type: array, items: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/organisations:
    get:
      tags: [Organisations]
      operationId: listOrganisations
      summary: List canonical organisations visible to the authenticated identity.
      security:
        - oauth2: [identity.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Tenant-scoped organisation summaries.
          content:
            application/json:
              schema:
                type: object
                required: [organisations]
                properties:
                  organisations:
                    type: array
                    items: { $ref: '#/components/schemas/OrganisationSummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/organisations/{organisation_id}:
    get:
      tags: [Organisations]
      operationId: getOrganisation
      summary: Get an authorised organisation with identifiers, capabilities, branches and memberships.
      security:
        - oauth2: [identity.read]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Canonical organisation detail. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/registration-applications:
    get:
      tags: [Registrations]
      operationId: listRegistrationApplications
      summary: List registration applications within the caller's authorised scope.
      security:
        - oauth2: [registrations.read]
      responses:
        '200':
          description: Registration applications and authoritative verification posture.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Registrations]
      operationId: submitRegistrationApplication
      summary: Submit an idempotent legal taxpayer registration for authoritative verification.
      description: Acceptance does not create a taxpayer or organisation. ITAS/NamRA verification and controlled approval must complete first.
      security:
        - oauth2: [registrations.submit]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegistrationSubmission' }
      responses:
        '202':
          description: Accepted and held pending authoritative verification.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegistrationAccepted' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/identity-proofing-cases:
    get:
      tags: [Identity proofing]
      operationId: listIdentityProofingCases
      summary: List explainable identity-proofing cases within the caller's authorised scope.
      description: |
        Returns the durable proofing posture and confidence evidence created for registration
        applications. Synthetic results are explicitly labelled and never constitute NamRA/ITAS
        authority verification or create taxpayer, organisation, membership or licence records.
      security:
        - oauth2: [registrations.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Scoped identity-proofing queue.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [identity_proofing_cases]
                properties:
                  identity_proofing_cases:
                    type: array
                    maxItems: 100
                    items: { $ref: '#/components/schemas/IdentityProofingCase' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/tax-authority-onboarding-cases:
    get:
      tags: [Authority governance]
      operationId: getTaxAuthorityGovernance
      summary: Read scoped authority hierarchy, roles, federation, onboarding and quarterly-review posture.
      description: Returns governance metadata only for Tax Authorities explicitly assigned to the caller. Authentication does not create authority membership.
      security: [{ oauth2: [authority-governance.read] }]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Scoped Tax Authority governance projection with production activation disabled. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Authority governance]
      operationId: createTaxAuthorityOnboardingCase
      summary: Create an idempotent, step-up protected Tax Authority onboarding case.
      description: |
        Local/staging requests enter independent review. Production-target requests are durably recorded as
        `BLOCKED_EXTERNAL`; this command cannot activate federation, an authority, a tax subscription or taxpayer access.
      security: [{ oauth2: [authority-governance.manage] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [schema_version, tax_authority_id, target_environment, purpose]
              properties:
                schema_version: { type: string, const: 1.0.0 }
                tax_authority_id: { type: string, minLength: 3, maxLength: 100 }
                target_environment: { type: string, enum: [LOCAL_STAGING, PRODUCTION] }
                purpose: { type: string, minLength: 10, maxLength: 500 }
                evidence_bundle_hash: { type: string, minLength: 32, maxLength: 200 }
                readiness_reference: { type: string, minLength: 8, maxLength: 200 }
      responses:
        '201': { description: Local review case or production-blocked evidence record created with no activation effect. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/tax-authority-onboarding-cases/{onboarding_case_id}/decisions:
    post:
      tags: [Authority governance]
      operationId: decideTaxAuthorityOnboardingCase
      summary: Record an independent immutable local-staging approval or rejection.
      description: |
        Requires single-use step-up evidence, an active authority administrator assignment, a protected decision role,
        a current quarterly access review and a different requester/decider. Production activation is not exposed.
      security: [{ oauth2: [authority-governance.manage] }]
      parameters:
        - { name: onboarding_case_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [schema_version, decision, reason]
              properties:
                schema_version: { type: string, const: 1.0.0 }
                decision: { type: string, enum: [APPROVE_LOCAL_STAGING, REJECT] }
                reason: { type: string, minLength: 10, maxLength: 500 }
      responses:
        '200': { description: Independent immutable local decision recorded with no production activation effect. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations:
    get:
      tags: [Quotations]
      operationId: listQuotations
      summary: List quotations in the authorised organisation.
      security: [{ oauth2: [commercial.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Tenant-scoped quotation register. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Quotations]
      operationId: createQuotation
      summary: Issue a quotation whose monetary and tax totals are calculated server-side.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationSubmission' } } }
      responses:
        '201': { description: Quotation issued. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}:
    patch:
      tags: [Quotations]
      operationId: updateQuotation
      summary: Append an immutable revision and update an unexpired issued quotation.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationSubmission' } } }
      responses:
        '200': { description: Quotation updated and immutable revision appended. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}/accept:
    post:
      tags: [Quotations]
      operationId: acceptQuotation
      summary: Accept an unexpired issued quotation using an idempotent state transition.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200': { description: Quotation accepted. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/quotations/{quotation_id}/rejection:
    post:
      tags: [Quotations]
      operationId: rejectQuotation
      summary: Reject an unexpired issued quotation with a protected reason.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationRejectionSubmission' } } }
      responses:
        '200': { description: Quotation rejected without deleting its history. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/quotations/{quotation_id}/expiration:
    post:
      tags: [Quotations]
      operationId: expireQuotation
      summary: Explicitly expire an issued quotation after its valid-until date.
      security: [{ oauth2: [quotations.manage] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Overdue quotation explicitly expired. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/quotations/{quotation_id}/convert:
    post:
      tags: [Quotations, Invoices]
      operationId: convertQuotationToInvoice
      summary: Certify an accepted quotation as an invoice and preserve its source lineage.
      security: [{ oauth2: [quotations.manage, invoices.write] }]
      parameters:
        - name: quotation_id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/QuotationConversionSubmission' } } }
      responses:
        '201': { description: Invoice certified and quotation linked. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/accounting/journals:
    get:
      tags: [Accounting]
      operationId: listJournals
      summary: List journals in the authorised organisation.
      security: [{ oauth2: [accounting.read] }]
      responses: { '200': { description: Tenant-scoped journal register. } }
    post:
      tags: [Accounting]
      operationId: postJournal
      summary: Post a balanced double-entry journal.
      security: [{ oauth2: [accounting.post] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/JournalSubmission' } } }
      responses:
        '201': { description: Balanced journal posted. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses:
    get:
      tags: [Expenses]
      operationId: listExpenses
      summary: List expenses in the authorised organisation.
      security: [{ oauth2: [expenses.read] }]
      responses: { '200': { description: Tenant-scoped expense register. } }
    post:
      tags: [Expenses]
      operationId: createExpense
      summary: Record a draft expense with exact integer totals.
      security: [{ oauth2: [expenses.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseSubmission' } } }
      responses:
        '201': { description: Draft expense recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses/{expense_id}/decision:
    post:
      tags: [Expenses]
      operationId: decideExpense
      summary: Independently approve or reject a draft expense and append immutable decision evidence.
      security: [{ oauth2: [expenses.approve] }]
      parameters:
        - name: expense_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseDecisionSubmission' } } }
      responses:
        '200': { description: Independent decision recorded and draft expense transitioned. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/expenses/{expense_id}/receipt:
    post:
      tags: [Expenses]
      operationId: linkExpenseReceipt
      summary: Immutably link a clean, available receipt to a draft expense.
      description: Quarantined, pending, rejected, cross-tenant, incorrectly owned or already-linked documents are refused.
      security: [{ oauth2: [expenses.manage] }]
      parameters:
        - name: expense_id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ExpenseReceiptLinkSubmission' } } }
      responses:
        '200': { description: Clean receipt linked to the draft expense with immutable custody evidence. }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/inventory/movements:
    get:
      tags: [Inventory]
      operationId: listInventoryBalances
      summary: List inventory balances in the authorised organisation.
      security: [{ oauth2: [inventory.read] }]
      responses: { '200': { description: Tenant-scoped inventory balances. } }
    post:
      tags: [Inventory]
      operationId: recordStockMovement
      summary: Record a signed stock movement without permitting negative on-hand stock.
      security: [{ oauth2: [inventory.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/StockMovementSubmission' } } }
      responses:
        '201': { description: Stock movement recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      summary: List projects and budget-to-cost projections in the authorised organisation.
      security: [{ oauth2: [projects.read] }]
      responses: { '200': { description: Tenant-scoped project register. } }
    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a planned project and optional proposed budget.
      security: [{ oauth2: [projects.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ProjectSubmission' } } }
      responses:
        '201': { description: Project created. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-periods:
    get:
      tags: [VAT periods]
      operationId: listVatPeriods
      summary: List governed VAT periods, latest return versions, approval tasks, reconciliation evidence and provider posture.
      security: [{ oauth2: [returns.read] }]
      responses:
        '200': { description: Authorised VAT lifecycle snapshot. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/vat-periods/{period_id}/adjustments:
    post:
      tags: [VAT periods]
      operationId: createVatAdjustment
      summary: Submit an adjustment into the maker-checker approval queue.
      security: [{ oauth2: [vat-adjustments.manage] }]
      parameters:
        - $ref: '#/components/parameters/VatPeriodId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/VatAdjustmentSubmission' } } }
      responses:
        '201': { description: Adjustment recorded pending independent approval. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-periods/{period_id}/returns:
    post:
      tags: [VAT returns]
      operationId: generateVatReturn
      summary: Generate a reproducible return version from eligible ledger entries and approved adjustments.
      security: [{ oauth2: [returns.generate] }]
      parameters:
        - $ref: '#/components/parameters/VatPeriodId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '201': { description: Draft return version and calculation boxes generated. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-returns/{return_version_id}:
    get:
      tags: [VAT returns]
      operationId: getVatReturnVersion
      summary: Retrieve a return version with boxes, adjustments, approval history and provider submissions.
      security: [{ oauth2: [returns.read] }]
      parameters:
        - $ref: '#/components/parameters/VatReturnVersionId'
      responses:
        '200': { description: Return calculation evidence. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/vat-returns/{return_version_id}/approval-requests:
    post:
      tags: [Approvals]
      operationId: requestVatReturnApproval
      summary: Place a draft return into independent maker-checker approval.
      security: [{ oauth2: [returns.generate] }]
      parameters:
        - $ref: '#/components/parameters/VatReturnVersionId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '202': { description: Approval task created. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/approval-tasks/{approval_task_id}/decision:
    post:
      tags: [Approvals]
      operationId: decideVatApproval
      summary: Approve or reject a VAT control, enforcing that requester and decision-maker differ.
      security: [{ oauth2: [returns.approve] }]
      parameters:
        - $ref: '#/components/parameters/ApprovalTaskId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/ApprovalDecision' } } }
      responses:
        '200': { description: Approval task decided and controlled resource transitioned. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/vat-returns/{return_version_id}/submissions:
    post:
      tags: [VAT returns]
      operationId: requestVatReturnSubmission
      summary: Request statutory-provider submission for an approved return.
      description: The request is recorded as blocked configuration when the authority-approved rules or ITAS contract are absent. This operation never represents an unacknowledged return as filed.
      security: [{ oauth2: [returns.submit] }]
      parameters:
        - $ref: '#/components/parameters/VatReturnVersionId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '202': { description: Submission request recorded as ready or explicitly blocked. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/compliance:
    get:
      tags: [Compliance]
      operationId: getComplianceWorkspace
      summary: Retrieve obligations, cases, disputes, advisory risk, refunds, communications, notifications, consents and delegations in scope.
      security: [{ oauth2: [compliance.read] }]
      responses:
        '200': { description: Authorised compliance workspace. }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/audit-cases:
    post:
      tags: [Audit cases]
      operationId: openAuditCase
      summary: Open an evidence-led national compliance case.
      security: [{ oauth2: [cases.manage] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/CaseOpeningSubmission' } } }
      responses:
        '201': { description: Audit case opened and taxpayer notification queued. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/disputes:
    post:
      tags: [Disputes]
      operationId: fileDispute
      summary: File an immutable taxpayer dispute for independent review.
      security: [{ oauth2: [disputes.manage] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/DisputeSubmission' } } }
      responses:
        '201': { description: Dispute filed. }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/refunds:
    post:
      tags: [Refunds]
      operationId: requestRefund
      summary: Request refund eligibility review for a negative return version.
      description: An unfiled return creates a blocked record and cannot advance into review or payment.
      security: [{ oauth2: [refunds.request] }]
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/RefundRequestSubmission' } } }
      responses:
        '201': { description: Refund request recorded as eligible for review or explicitly blocked. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/refunds/{refund_claim_id}/transition:
    post:
      tags: [Refunds]
      operationId: transitionRefundClaim
      summary: Record a staged human refund review/transition.
      security: [{ oauth2: [refunds.review] }]
      parameters:
        - name: refund_claim_id
          in: path
          required: true
          schema: { type: string, minLength: 2, maxLength: 100 }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content: { application/json: { schema: { $ref: '#/components/schemas/RefundReviewSubmission' } } }
      responses:
        '200': { description: Review stage recorded. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/invoices:
    get:
      tags: [Invoices]
      operationId: listInvoices
      summary: List authorised invoices under tenant or national scope.
      security:
        - oauth2: [invoices.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200': { description: Authorised invoice summaries. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Invoices]
      operationId: submitInvoice
      summary: Submit a canonical fiscal document for validation and certification.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/vat-msa-invoice.schema.json'
      responses:
        '201':
          description: Certified and posted.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/CorrelationId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificationReceipt'
        '202':
          description: Accepted for asynchronous processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionAccepted'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/invoices/{invoice_id}:
    get:
      tags: [Invoices]
      operationId: getInvoiceStatus
      summary: Get status, calculation evidence and exception references for a submitted invoice.
      security:
        - oauth2: [invoices.read]
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Invoice processing status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceStatus'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/platform:
    get:
      tags: [Platform]
      operationId: getPlatformPosture
      summary: Read authorised integration, API client, offline, reporting, document and service-component posture.
      security:
        - oauth2: [platform.read]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Role- and tenant-scoped platform posture. Credential values are never returned.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformSnapshot' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/documents:
    post:
      tags: [Documents]
      operationId: quarantineDocument
      summary: Store a bounded evidence object in private quarantine and commit integrity metadata.
      description: The object is unavailable for download until an external malware scanner records a clean result. No scan result is inferred by this service.
      security:
        - oauth2: [documents.upload]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/DocumentUpload' }
      responses:
        '201':
          description: Evidence stored in private quarantine with SHA-256 integrity metadata.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/QuarantinedDocumentResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/ValidationFailed' }
        '415': { $ref: '#/components/responses/ValidationFailed' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/reports/{code}/runs:
    post:
      tags: [Reports]
      operationId: runControlledReport
      summary: Execute an allow-listed, tenant-scoped inline aggregate report.
      description: Arbitrary SQL is never accepted. Large exports remain unavailable until a separate worker and clean-document pipeline are configured.
      security:
        - oauth2: [reports.run]
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string, minLength: 2, maxLength: 80 }
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              maxProperties: 50
      responses:
        '201':
          description: Inline report completed and registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InlineReportResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/offline/batches:
    post:
      tags: [Offline]
      operationId: submitOfflineBatch
      summary: Synchronise a signed, ordered batch from an enrolled offline device.
      security:
        - oauth2: [offline.sync]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OfflineBatch'
      responses:
        '202':
          description: Batch intake completed. Until device trust and signature verification are configured, the returned batch is REJECTED with an explicit reason and preserved as audit evidence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfflineBatchResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/verify/{verification_token}:
    get:
      tags: [Verification]
      operationId: verifyCertificate
      summary: Verify a certificate using the opaque QR token without exposing full invoice data.
      security: []
      parameters:
        - name: verification_token
          in: path
          required: true
          schema: { type: string, minLength: 32, maxLength: 256 }
      responses:
        '200':
          description: Privacy-minimised verification outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicVerification'
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/access-requests:
    get:
      tags: [Approvals]
      operationId: listAccessRequests
      summary: List tenant-scoped access requests and review context.
      responses:
        '200': { description: Authorised access requests. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Approvals]
      operationId: createAccessRequest
      summary: Request a role assignment without granting it.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Access request created. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/access-requests/{access_request_id}/decision:
    post:
      tags: [Approvals]
      operationId: decideAccessRequest
      summary: Record an independent, immutable access decision with single-use step-up evidence.
      parameters:
        - { name: access_request_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Independent decision recorded. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/access-reviews:
    get:
      tags: [Approvals]
      operationId: listAccessReviews
      summary: List quarterly access reviews in authorised scope.
      responses:
        '200': { description: Access reviews and certifications. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Approvals]
      operationId: createAccessReview
      summary: Open a quarterly access review with step-up authentication.
      parameters:
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Quarterly review opened. }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/access-reviews/{access_review_id}/certifications:
    post:
      tags: [Approvals]
      operationId: certifyAccessReview
      summary: Record an immutable access-review certification.
      parameters:
        - { name: access_review_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Certification recorded. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/administration:
    get:
      tags: [Organisations]
      operationId: getAdministrationWorkspace
      summary: Read the licensed administration and governance workspace.
      responses:
        '200': { description: Authorised administration snapshot. }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/business-parties:
    get:
      tags: [Organisations]
      operationId: listBusinessParties
      summary: List tenant-scoped business parties.
      responses:
        '200': { description: Business party register. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: createBusinessParty
      summary: Create a tenant-scoped business party.
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Business party created. }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/business-parties/{business_party_id}:
    patch:
      tags: [Organisations]
      operationId: updateBusinessParty
      summary: Update an active business party under tenant scope.
      parameters:
        - { name: business_party_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Business party updated. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business-parties/{business_party_id}/deactivation:
    post:
      tags: [Organisations]
      operationId: deactivateBusinessParty
      summary: Non-destructively deactivate a business party.
      parameters:
        - { name: business_party_id, in: path, required: true, schema: { type: string, minLength: 1 } }
      responses:
        '200': { description: Business party deactivated. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/business-parties/{business_party_id}/synthetic-verification:
    post:
      tags: [Verification]
      operationId: syntheticallyVerifyBusinessParty
      summary: Exercise the counterparty-trust workflow with explicitly non-authoritative synthetic evidence.
      description: |
        Available only in an approved local or explicitly enabled staging test environment. The result is labelled
        `SYNTHETIC_TEST`, expires after 24 hours, cannot become authority verification and is denied in production.
        It exists for controlled workflow and negative-test evidence; it does not call ITAS, NamRA or BIPA.
      parameters:
        - { name: business_party_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [schema_version, authority_record]
              properties:
                schema_version: { type: string, const: 1.0.0 }
                authority_record:
                  type: object
                  additionalProperties: false
                  required: [legal_name, tax_registration_status]
                  properties:
                    legal_name: { type: string, minLength: 2, maxLength: 200 }
                    vat_number: { type: string, minLength: 2, maxLength: 40 }
                    tin: { type: string, minLength: 2, maxLength: 40 }
                    company_registration_number: { type: string, minLength: 2, maxLength: 40 }
                    tax_registration_status: { type: string, enum: [ACTIVE, INACTIVE, SUSPENDED, CANCELLED, NOT_REGISTERED] }
      responses:
        '200': { description: Labelled synthetic trust result and current counterparty projection. }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/organisations/employees:
    get:
      tags: [Organisations]
      operationId: listOrganisationEmployees
      summary: List licensed organisation employees.
      responses:
        '200': { description: Employee register. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: createOrganisationEmployee
      summary: Create an employee within licensed seat capacity using step-up authentication.
      parameters:
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Employee created. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/organisations/employees/{employee_id}/termination:
    post:
      tags: [Organisations]
      operationId: terminateOrganisationEmployee
      summary: Non-destructively terminate an employee using step-up authentication.
      parameters:
        - { name: employee_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      responses:
        '200': { description: Employee terminated. }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/organisations/roles:
    get:
      tags: [Organisations]
      operationId: listOrganisationRoles
      summary: List organisation-defined roles and grants.
      responses:
        '200': { description: Organisation roles. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: createOrganisationRole
      summary: Create a role using step-up authentication and SoD validation.
      parameters:
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Role created. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/workflow-tasks/{workflow_task_id}/decision:
    post:
      tags: [Approvals]
      operationId: decideWorkflowTask
      summary: Record an independent workflow decision with no self-approval.
      parameters:
        - { name: workflow_task_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '200': { description: Workflow decision recorded. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/workflows:
    get:
      tags: [Approvals]
      operationId: listWorkflows
      summary: List workflows, versions and outstanding tasks.
      responses:
        '200': { description: Workflow register. }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Approvals]
      operationId: createWorkflowDraft
      summary: Create a workflow draft using step-up authentication.
      parameters:
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      requestBody: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
      responses:
        '201': { description: Workflow draft created. }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/workflows/versions/{workflow_version_id}/publication:
    post:
      tags: [Approvals]
      operationId: publishWorkflowVersion
      summary: Publish a validated workflow version using step-up authentication.
      parameters:
        - { name: workflow_version_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - { $ref: '#/components/parameters/StepUpEvidence' }
        - { $ref: '#/components/parameters/StepUpSessionId' }
      responses:
        '200': { description: Workflow version published. }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/audit:
    get:
      tags: [Audit]
      operationId: searchAuditTrail
      summary: Search the append-only audit trail within the caller's authorised scope.
      description: Filterable, paginated read for Internal Audit; the REST counterpart to the audit workspace.
      security: [{ oauth2: [audit.read] }]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: resource_type
          in: query
          schema: { type: string, maxLength: 80 }
        - name: resource_id
          in: query
          schema: { type: string, maxLength: 100 }
        - name: action
          in: query
          schema: { type: string, maxLength: 80 }
        - name: actor_id
          in: query
          schema: { type: string, maxLength: 100 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
      responses:
        '200':
          description: Authorised, filtered page of audit trail entries.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/audit/chain-verifications:
    get:
      tags: [Audit]
      operationId: listAuditChainVerifications
      summary: List past hash-chain verification runs recorded against the audit trail.
      security: [{ oauth2: [audit.read] }]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
        - name: limit
          in: query
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Recorded chain-verification run history, most recent first.
          content:
            application/json:
              schema:
                type: object
                required: [verifications]
                properties:
                  verifications: { type: array, items: { type: object, additionalProperties: true } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Audit]
      operationId: triggerAuditChainVerification
      summary: Run an on-demand hash-chain verification of the audit trail and persist its outcome.
      description: No cron infrastructure exists for this yet, so verification is caller-triggered. A detected break opens a CRITICAL incident.
      security: [{ oauth2: [audit.read] }]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '201':
          description: Chain-verification run completed and its result persisted.
          content:
            application/json:
              schema:
                type: object
                required: [verification]
                properties:
                  verification: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/integrations:
    post:
      tags: [Integrations]
      operationId: registerIntegration
      summary: Register a new platform integration connection pending administrator approval.
      security: [{ oauth2: [integrations.manage] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Integration connection registered.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/integrations/{integration_id}/health:
    get:
      tags: [Integrations]
      operationId: getIntegrationHealth
      summary: Read connection health for a registered platform integration.
      description: A lighter, read-only permission than the mutating integration commands, held by every role that already sees the platform integration list.
      security: [{ oauth2: [integrations.read] }]
      parameters:
        - { name: integration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Current integration connection health.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/integrations/{integration_id}/approval:
    post:
      tags: [Integrations]
      operationId: approveIntegration
      summary: Approve a registered integration connection before it can synchronise data.
      security: [{ oauth2: [integrations.manage] }]
      parameters:
        - { name: integration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Integration connection approved.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/integrations/{integration_id}/suspension:
    post:
      tags: [Integrations]
      operationId: suspendIntegration
      summary: Suspend an approved integration connection and halt further synchronisation.
      security: [{ oauth2: [integrations.manage] }]
      parameters:
        - { name: integration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Integration connection suspended.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/integrations/{integration_id}/sync:
    post:
      tags: [Integrations]
      operationId: startIntegrationSync
      summary: Start a synchronisation run for an approved integration connection.
      security: [{ oauth2: [integrations.manage] }]
      parameters:
        - { name: integration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Synchronisation run started.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/taxpayer-systems:
    get:
      tags: [Taxpayer systems]
      operationId: listTaxpayerSystems
      summary: List registered taxpayer ERP/POS/accounting systems — the caller's own organisation's systems, or every taxpayer's for a national-scope actor.
      security: [{ oauth2: [taxpayer-systems.read] }]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Registered taxpayer system list.
          content:
            application/json:
              schema: { type: object, required: [resources], properties: { resources: { type: array, items: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Taxpayer systems]
      operationId: registerTaxpayerSystem
      summary: Register a taxpayer's own ERP/POS/accounting/invoicing system pending NamRA approval.
      description: The submitted VAT registration number (and TIN, if provided) must match the caller's own taxpayer record — this registers a taxpayer's own system, never a claim about another taxpayer's identity.
      security: [{ oauth2: [taxpayer-systems.manage] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Taxpayer system registration created in DRAFT status.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/taxpayer-systems/{taxpayer_system_registration_id}:
    get:
      tags: [Taxpayer systems]
      operationId: getTaxpayerSystem
      summary: Read a single registered taxpayer system.
      security: [{ oauth2: [taxpayer-systems.read] }]
      parameters:
        - { name: taxpayer_system_registration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Registered taxpayer system.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/taxpayer-systems/{taxpayer_system_registration_id}/approval:
    post:
      tags: [Taxpayer systems]
      operationId: approveTaxpayerSystem
      summary: Approve a taxpayer's registered system so it may begin exchanging invoice data with NamRA e-VAT MS.
      description: Restricted to an authorised national (NamRA) compliance role — the taxpayer's own registration act is not sufficient authority to approve its own system.
      security: [{ oauth2: [taxpayer-systems.approve] }]
      parameters:
        - { name: taxpayer_system_registration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Taxpayer system registration approved.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/taxpayer-systems/{taxpayer_system_registration_id}/suspension:
    post:
      tags: [Taxpayer systems]
      operationId: suspendTaxpayerSystem
      summary: Suspend a registered taxpayer system (e.g. decommissioning) and halt further synchronisation.
      security: [{ oauth2: [taxpayer-systems.manage] }]
      parameters:
        - { name: taxpayer_system_registration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Taxpayer system registration suspended.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/taxpayer-systems/{taxpayer_system_registration_id}/sync:
    post:
      tags: [Taxpayer systems]
      operationId: recordTaxpayerSystemSync
      summary: Record a taxpayer system's post-synchronisation connectivity state and timestamp.
      security: [{ oauth2: [taxpayer-systems.manage] }]
      parameters:
        - { name: taxpayer_system_registration_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Synchronisation state recorded.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/fixed-assets:
    get:
      tags: [Fixed assets]
      operationId: listFixedAssets
      summary: List an organisation's immovable and movable fixed assets, optionally filtered by asset_class.
      security: [{ oauth2: [fixed-assets.read] }]
      parameters:
        - { name: asset_class, in: query, required: false, schema: { type: string, enum: [IMMOVABLE, MOVABLE] } }
        - { name: organisation_id, in: query, required: false, schema: { type: string } }
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Fixed asset list.
          content:
            application/json:
              schema: { type: object, required: [resources], properties: { resources: { type: array, items: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Fixed assets]
      operationId: registerFixedAsset
      summary: Register an immovable (land/building) or movable (vehicle/equipment/furniture/IT hardware) fixed asset.
      security: [{ oauth2: [fixed-assets.manage] }]
      parameters:
        - { name: organisation_id, in: query, required: false, schema: { type: string } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Fixed asset registered in ACTIVE status.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/fixed-assets/{fixed_asset_id}:
    get:
      tags: [Fixed assets]
      operationId: getFixedAsset
      summary: Read a single fixed asset.
      security: [{ oauth2: [fixed-assets.read] }]
      parameters:
        - { name: fixed_asset_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Fixed asset.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/fixed-assets/{fixed_asset_id}/valuation:
    post:
      tags: [Fixed assets]
      operationId: recordFixedAssetValuation
      summary: Record an updated current value for a fixed asset without changing its lifecycle status.
      security: [{ oauth2: [fixed-assets.manage] }]
      parameters:
        - { name: fixed_asset_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Valuation recorded.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/fixed-assets/{fixed_asset_id}/maintenance:
    post:
      tags: [Fixed assets]
      operationId: flagFixedAssetMaintenance
      summary: Flag an ACTIVE fixed asset as UNDER_MAINTENANCE.
      security: [{ oauth2: [fixed-assets.manage] }]
      parameters:
        - { name: fixed_asset_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Fixed asset flagged for maintenance.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/fixed-assets/{fixed_asset_id}/restoration:
    post:
      tags: [Fixed assets]
      operationId: restoreFixedAsset
      summary: Restore a fixed asset from UNDER_MAINTENANCE back to ACTIVE.
      security: [{ oauth2: [fixed-assets.manage] }]
      parameters:
        - { name: fixed_asset_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Fixed asset restored to service.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/fixed-assets/{fixed_asset_id}/disposal:
    post:
      tags: [Fixed assets]
      operationId: disposeFixedAsset
      summary: Dispose a fixed asset (ACTIVE or UNDER_MAINTENANCE -> DISPOSED) with a recorded reason.
      security: [{ oauth2: [fixed-assets.manage] }]
      parameters:
        - { name: fixed_asset_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Fixed asset disposed.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/logistics-deliveries:
    get:
      tags: [Logistics]
      operationId: listLogisticsDeliveries
      summary: List an organisation's logistics deliveries.
      security: [{ oauth2: [logistics.read] }]
      parameters:
        - { name: organisation_id, in: query, required: false, schema: { type: string } }
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Logistics delivery list.
          content:
            application/json:
              schema: { type: object, required: [resources], properties: { resources: { type: array, items: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Logistics]
      operationId: createLogisticsDelivery
      summary: Create a delivery (PENDING) fulfilling an already-issued tax invoice or POS sale.
      security: [{ oauth2: [logistics.manage] }]
      parameters:
        - { name: organisation_id, in: query, required: false, schema: { type: string } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Logistics delivery created in PENDING status.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/logistics-deliveries/{logistics_delivery_id}:
    get:
      tags: [Logistics]
      operationId: getLogisticsDelivery
      summary: Read a single logistics delivery.
      security: [{ oauth2: [logistics.read] }]
      parameters:
        - { name: logistics_delivery_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Logistics delivery.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/logistics-deliveries/{logistics_delivery_id}/dispatch:
    post:
      tags: [Logistics]
      operationId: dispatchLogisticsDelivery
      summary: Dispatch a delivery (PENDING -> IN_TRANSIT).
      security: [{ oauth2: [logistics.manage] }]
      parameters:
        - { name: logistics_delivery_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Delivery dispatched.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/logistics-deliveries/{logistics_delivery_id}/delivery:
    post:
      tags: [Logistics]
      operationId: deliverLogisticsDelivery
      summary: Mark a delivery as completed (IN_TRANSIT -> DELIVERED).
      security: [{ oauth2: [logistics.manage] }]
      parameters:
        - { name: logistics_delivery_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Delivery marked delivered.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/logistics-deliveries/{logistics_delivery_id}/cancellation:
    post:
      tags: [Logistics]
      operationId: cancelLogisticsDelivery
      summary: Cancel a delivery (PENDING or IN_TRANSIT -> CANCELLED) with a recorded reason.
      security: [{ oauth2: [logistics.manage] }]
      parameters:
        - { name: logistics_delivery_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Delivery cancelled.
          content:
            application/json:
              schema: { type: object, required: [resource], properties: { resource: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/licensing/entitlements:
    get:
      tags: [Organisations]
      operationId: getEntitlementsSnapshot
      summary: Read the organisation's current feature entitlements, independently of the full licence bundle.
      description: Previously only readable bundled inside GET /v1/licensing/license; now queryable standalone.
      security: [{ oauth2: [licensing.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Current organisation feature entitlements.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/licensing/usage:
    get:
      tags: [Organisations]
      operationId: getUsageSnapshot
      summary: Read current licence usage against configured limits for the organisation.
      description: Previously only readable bundled inside the administration snapshot; now queryable standalone.
      security: [{ oauth2: [licensing.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Current organisation licence usage against limits.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/licensing/state:
    post:
      tags: [Organisations]
      operationId: changeLicenseState
      summary: Activate, suspend or renew the organisation's licence using step-up authentication.
      security: [{ oauth2: [licensing.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, reason]
              properties:
                action: { type: string, enum: [ACTIVATE, SUSPEND, RENEW] }
                reason: { type: string, minLength: 1 }
      responses:
        '200':
          description: Licence state transitioned.
          content:
            application/json:
              schema: { type: object, required: [license], properties: { license: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/licensing/upgrade:
    post:
      tags: [Organisations]
      operationId: upgradeLicense
      summary: Change the organisation's licence plan, preserving prior plan history rather than mutating it in place.
      description: A distinct plan-change operation from Activate/Suspend/Renew — closes the current licence record and opens a new one on the target plan.
      security: [{ oauth2: [licensing.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [license_plan_code]
              properties:
                license_plan_code: { type: string, minLength: 1 }
      responses:
        '200':
          description: Licence plan upgraded.
          content:
            application/json:
              schema: { type: object, required: [license], properties: { license: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/me/access:
    get:
      tags: [Identity]
      operationId: getMyAccess
      summary: Read the authenticated identity's own effective permissions, roles and capabilities.
      security: [{ oauth2: [identity.read] }]
      parameters:
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Effective access snapshot for the caller.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/organisations/administrators:
    get:
      tags: [Organisations]
      operationId: listOrganisationAdministrators
      summary: List appointed organisation administrators and their scope.
      security: [{ oauth2: [administration.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Organisation and its appointed administrators.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: appointOrganisationAdministrator
      summary: Appoint an active employee as an organisation administrator, demoting any existing primary administrator.
      description: The architecture models exactly one primary Organisation Portal Administrator per organisation; the target must already be an active employee.
      security: [{ oauth2: [administration.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, administrator_role_code, approval_reference]
              properties:
                user_id: { type: string, minLength: 1 }
                administrator_role_code: { type: string, minLength: 1 }
                is_primary: { type: boolean }
                approval_reference: { type: string, minLength: 1 }
      responses:
        '201':
          description: Administrator appointed.
          content:
            application/json:
              schema: { type: object, required: [administrator], properties: { administrator: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/organisations/capabilities:
    get:
      tags: [Organisations]
      operationId: listOrganisationCapabilityGrants
      summary: List organisation-level capability grants held by members.
      security: [{ oauth2: [roles.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Organisation and its active member capability grants.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Organisations]
      operationId: grantOrganisationCapability
      summary: Grant a member a capability the organisation itself already holds.
      description: Only ever narrows visibility within what the organisation is already entitled to; never grants something the organisation itself does not hold. Idempotent — reactivates a prior revoked grant rather than duplicating it.
      security: [{ oauth2: [roles.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationScope'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, capability]
              properties:
                user_id: { type: string, minLength: 1 }
                capability: { type: string, enum: [BUYER, SELLER] }
      responses:
        '201':
          description: Capability granted (or already-active grant returned unchanged).
          content:
            application/json:
              schema: { type: object, required: [capability], properties: { capability: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/organisations/{organisation_id}/branches:
    get:
      tags: [Organisations]
      operationId: listOrganisationBranches
      summary: List branches registered under an authorised organisation.
      security: [{ oauth2: [identity.read] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/CorrelationId'
      responses:
        '200':
          description: Organisation branch register.
          content:
            application/json:
              schema: { type: object, required: [branches], properties: { branches: { type: array, items: { type: object, additionalProperties: true } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
    post:
      tags: [Organisations]
      operationId: createOrganisationBranch
      summary: Register a new branch under an authorised organisation.
      security: [{ oauth2: [organisations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, name, address]
              properties:
                code: { type: string, minLength: 1 }
                name: { type: string, minLength: 1 }
                address: { type: string, minLength: 1 }
      responses:
        '201':
          description: Branch registered.
          content:
            application/json:
              schema: { type: object, required: [branch], properties: { branch: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/organisations/{organisation_id}/branches/{branch_id}:
    patch:
      tags: [Organisations]
      operationId: updateOrganisationBranch
      summary: Update an existing branch's name, address or active status.
      description: The head office branch can never be deactivated.
      security: [{ oauth2: [organisations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - { name: branch_id, in: path, required: true, schema: { type: string, minLength: 1 } }
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1 }
                address: { type: string, minLength: 1 }
                status: { type: string, enum: [ACTIVE, INACTIVE] }
      responses:
        '200':
          description: Branch updated.
          content:
            application/json:
              schema: { type: object, required: [branch], properties: { branch: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/organisations/{organisation_id}/invitations:
    post:
      tags: [Organisations]
      operationId: inviteOrganisationUser
      summary: Invite a new user to join an authorised organisation.
      description: The invitee has no user record yet, so they cannot call any permission-gated route themselves; they claim access through the separate invitation-claim flow.
      security: [{ oauth2: [organisations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
        - $ref: '#/components/parameters/CorrelationId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Invitation created.
          content:
            application/json:
              schema: { type: object, required: [invitation], properties: { invitation: { type: object, additionalProperties: true } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
  /v1/organisations/{organisation_id}/memberships:
    post:
      tags: [Organisations]
      operationId: assignOrganisationMembership
      summary: Assign an existing active user to a membership in an authorised organisation.
      security: [{ oauth2: [organisations.manage] }]
      parameters:
        - $ref: '#/components/parameters/OrganisationId'
        - $ref: '#/components/parameters/StepUpEvidence'
        - $ref: '#/components/parameters/StepUpSessionId'
[...]
